<!DOCTYPE html>
<html>
<head>
	<title>Index</title>
	    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.js"></script>

      <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <link href="content/css/style.css" rel="stylesheet">
  <link href="content/css/carousel.css" rel="stylesheet">
   <script src="js/dirPagination.js"></script>
   <script src="js/angular-animate.min.js"></script>
   <link rel="stylesheet" type="text/css" href="css/animate.css">
  


</head>
<body ng-app="myapp" ng-controller="prodcontroller" class="container">


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="http://localhost:8888//angular-rigalio">Rigalio</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
      <li ng-repeat="item in menu"> <a href="" ng-click="findcategory(item.category_Name)">{{ item.category_Name }} </a></li>
      </ul>
    </div>
  </div>
</nav>

<span>Filter by</span>


<div class="main" ng-view></div>



<script type="text/javascript" src="js/app.js"></script>

<style type="text/css">
	.ng-enter, .ng-leave, .ng-hide {
	opacity: 0;
	height: 0px;
}
.ng-enter-active .ng-leave-active{
	opacity: 1;

}

.main {
	
	-webkit-transition: all 0.15s ease-in-out 0s;
	-moz-transition: all 0.15s ease-in-out 0s;
	-o-transition: all 0.15s ease-in-out 0s;
	transition: all 0.15s ease-in-out 0s;
}
</style>
</body>
</html>