

<div class="brand_pg_tagline">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
     <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 content_headline">
        <div class="brand-info">
           <div class="brand-img col-lg-8 col-md-8 col-sm-12 col-xs-12">
              <img src="content/images/brands/louis-logo.png" class="img-responsive">
           </div> <!--/ brand-img -->
        </div> <!--brand-info -->
        <div class="product-info col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
          <ul>
             <li><label>Brand <span class="brand-name">{{ brand_product[0].brand_Name}}</span> </label> </li>
             <li><label>Established<span>1864 </span> </label> </li>
          </ul>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 brand-follow">
             <button class="follow-cat-btn normal">follow brand</button> 
          </div>
        </div> <!--/product-info -->  
      </div>
      
  </div>      
</div> <!--/brand_pg_tagline -->
<div class="basic-cat-info brand-pg bg-white col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="basic-cat-info-inner col-lg-10 col-md-10 col-sm-12 col-xs-12">
       <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 follow-list">
           <table>
              <tr>
                <td> <span>5 </span> <span><img src="content/images/icons/share-icon-grey.png"></span></td>
                <td> <span>5 </span> <span><img src="content/images/icons/followers-icon.png"> </span></td>
              </tr>
           </table>
       </div>
       
    </div>  <!--/basic-cat-info-inner -->      
</div>  <!--/basic-cat-info -->
<!--category-pg-con -->
<div class="category-pg-con brand-pg-con col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding">
  <div class="container-fluid">
    <div class="row">
       <div class="brand-tab-panel col-lg-6 col-md-6 col-sm-12 col-xs-12">
             <ul  class="nav nav-pills">
                <li><a href="#brand-legacy" data-toggle="tab">Legacy</a></li>
                <li class="active"><a  href="#brand-product" data-toggle="tab">Products</a></li>
                <li><a href="#brand-upcoming" data-toggle="tab">Upcoming</a></li>
              </ul>
          </div> <!--/category-tab-panel -->
          
        <div id="myTabContent1" class="tab-content">    
          <div class="legacy-con tab-pane fade" id="brand-legacy">
            <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 content_headline2">
              <h2>Legacy</h2>
              <hr>
            </div>
            <div class="legacy-tagline col-lg-8 col-md-8 col-sm-11 col-xs-12">
              <p>Afford stuff for a good joke to anybody, let him not be backward, but let him cheerfully allow himself to spend and be spent in that way. And the man that has anything bountifully laughable about him, be sure there is more in that man than you perhaps think for. </p>
              <h5> -Louis Vuitton </h5>
            </div> <!-- /legacy-tagline -->
            <div class="legacy-inner-con col-lg-8 col-md-8 col-sm-11 col-xs-11 nopadding">
               <div class="legacy-images col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding">
                  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <div class="legacy-innerimg1">
                       <span class="brand-hover-img"><img src="content/images/brand-pg/Louis-Vuitton_1.jpg" class="img-responsive"></span>
                           <span class="text-content"><span>Place Name</span></span><hr>
                    </div> <!--/legacy-innerimg1 -->
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                     <img src="content/images/brand-pg/Louis-Vuitton_2.jpg" class="img-responsive ">
                  </div>
               </div> <!--/legacy-images -->
               <div class="legacy-text">
                  <p>Do they say that men who have seen the world, thereby become quite at ease in manner, quite selfrpossessed in company, Not always, though; Ledyard, thegreat New England traveller, and Mungo Park, the Scotch one oiall men, they possessed the least assurance in the parlor. Perhaps the mere crossing of Siberria in a sledge drawn bydogs as Ledyard did, orthe taking a long solitary walk on an empty stomach, in the negro heart owrica, which was the sum oipoorMungo’s periormances this kind ortravel, l say, may not be the very best mode oi attaining a high social polish. Still, for the most part, that sort oithing is tobe had anywhere. The intense Pequod sailed on; the rolling waves and days went by; the llferbuoyrcoffin still lightly swung; and another ship, most miserablymisnamed the Delight, was descried, As she drew high, all eyes were fixed upon her broad beams, called shears, which, in some whalingrshlps, cross the quarrterrdeck at the height or eight or nine ieeb serving to carry the spare, unrigged, or disabled boats. </p>
               </div> <!--/legacy-text ends -->
               <div class="legacy-images col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                     <img src="content/images/brand-pg/Louis-Vuitton_3.jpg" class="img-responsive">
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 legacy-text">
                     <p class="nomargin">Do they say that men who have seen the world, thereby become quite at ease in manner, quite selfrpossessed in company, Not always, though; Ledyard, thegreat New England traveller, and Mungo Park, the Scotch one oiall men, they possessed the least assurance in the parlor. Perhaps the mere crossing of Siberria in a sledge drawn bydogs as Ledyard did, orthe taking a long solitary walk on an empty stomach, in the negro heart owrica, which was the sum oipoorMungo’s periormances this kind ortravel, l say, may not be the very best mode oi attaining a high social polish. </p>
                  </div>
               </div> <!--/legacy-images -->
            </div> <!-- /legacy-inner-con -->
            <div class="legacy-sectn col-lg-12 col-md-12 col-sm-11 col-xs-11 nopadding">
               <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 content_headline2">
                  <h2>From the cxo's desk</h2> <hr>
               </div>
               <div class="legacy-tagline col-lg-8 col-md-8 col-sm-12 col-xs-12 nopadding">
                  <div class="cxo-image col-lg-4 col-md-4 col-sm-4 col-xs-12 nopadding">
                     <div class="cxo-img-border"><img src="content/images/brand-pg/user1.png"></div>
                     <h5> Nicolas Ghesquiere </h5>
                     <h6> Creative Director </h6>
                  </div> <!--/cxo-image -->
                  <div class="legacy-text col-lg-8 col-md-8 col-sm-8 col-xs-12 nopadding">
                     <p class="nomargin">Do they say that men who have seen the world, thereby become quite at ease in manner, quite selfnpossessed in company, Not always, though; Ledyard, the great New England traveller, and Mungo Park, the Scotch one oiall men, they possessed the least assurance in the parlor. Perhaps the mere crossing oi Siberria in a sledge drawn by dogs as Ledyard did </p>
                     
                  </div> <!--/legacy-text -->
                  
               </div> <!-- /legacy-tagline -->
            </div> <!-- /legacy-sectn ends -->
          </div> <!-- brand legacy tab content ends -->
          <div class="brand-product-con tab-pane fade active in " id="brand-product">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                 <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 content_headline2">
                    <h2>More posts like this one </h2>
                    <hr>
                 </div> 
              </div>
              <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12 wall whats_new_content">
       
                      
<h1><input type="text" name="product" ng-model="prod_category"></h1>
  <div class="wall-column" ng-repeat="product in brand_product | filter : { category_Name: prod_category }">
          <div class="wall-item">
            <div class="category cat_travel">
               <div class="category_img">
                  <img src="http://www.rigalio.com/{{ product.product_image }}" class="img-responsive">
                  <div class="hover-content-cat">
                    <div class="tab">
                      <div class="tab-in">
                         <div class="cat-zoom-icon"><span class="fa fa-plus"></span> </div>
                         <div class="cat-plus-icon" style="display:none;"> </div>
                         <div class="cat-minus-icon" style="display:none;"><span class="fa fa-minus "></span> </div>
                         <h4><a href="#/brand/{{product.brandId}}">{{ product.brand_Name }}</a> </h4>
                         <a href="javascript:void(0)"><button class="follow-brand-btn follow" data-text="Follow brand"><i class="fa fa-check"></i></button></a>
                      </div>  <!--/tab-in -->
                    </div> <!--/tab -->   
                  </div> <!--/hover-content-cat -->
               </div> <!--/category_img--> 
               <div class="category_content">
                 <div class="relative-struct"><h1 class="hea"><a href="#/product/{{ product.productId}}">{{ product.category_Name }} </a> 
                 <div class="tooltip cat-follow-popup nopadding">
                   <div class="tab">
                     <div class="tab-cell">
                       <div class="img-part"> <span class="icomoon icon-hotels-resorts2"> </span></div>
                       <div class="follow-con">
                          <img src="content/images/icons/follow-arrow.png" class="arrow">
                          <h1>{{product.subCategory_Name}} </h1> 
                          <div class="follow-status"> 
                            <button data-text="Follow category" class="follow-cat-btn normal follow-cat"><i class="fa fa-check"></i></button>
                          </div>
                       </div>
                     </div>
                   </div> 
                       
                  </div> </h1>
                   </div> <!--/relative-struct -->

                 <h2>{{product.productSmallDiscription}} </h2>
               </div> <!--/category_content-->
               <div class="category_options">
                  <table>
                     <tbody>
                      <tr class="">
                       <td class="date-status cat_travel"><p>5 days ago </p>  </td> 
                       <td class="crown-sectn cat_travel"><span class="text">5 </span><span class="icomoon icon-crown"> </span> </td>
                       <td class="comment-sectn cat_travel"><span class="text">5 </span> <span class="icomoon icon-chat"></span> </td>
                       <td class="fwd-icon-sectn cat_travel"><span class="text">5 </span><span class="icomoon icon-sharing"></span> </td>
                     </tr>
                    </tbody>
                  </table>
                  <div style="display:none;" class="fwd-social-icons sec7">
                     <ul class="cat-follow-icons">
                        <li><a target="_blank" href="javascript:void(0)" class="fb"></a></li>
                        <li><a href="javascript:void(0)" class="twitter"></a></li>
                        <li><a target="_blank" href="javascript:void(0)" class="insta"></a></li>
                        <li class="show-more"><a href="javascript:void(0)" class="more"></a></li>
                      </ul>
                      <div style="display:none;" class="hidden-more-icons">
                        <ul class="follow-icons-more">
                          <li><a class="linkdin" href="javascript:void(0)"> </a> </li>
                          <li><a class="gplus" href="javascript:void(0)"> </a> </li>
                          <li><a class="pini" href="javascript:void(0)"> </a> </li>
                        </ul>
                      </div>
                  </div> <!--/inner forward icons social -->
                  <div style="display: none;" class="write-comment">
                      <span><img class="img-responsive img-circle" src="content/images/timeline/profile-pic-small.png"> </span>
                      <span class="commentbox"><a><input type="text" placeholder="Write a Comment" value="" name=""></a> </span><a href="#"><span class="icomoon icon-reply"></span> </a>
                  </div> <!--/write-comment -->
               </div><!--/category_options-->
            </div> <!--/category-->
          </div> <!--/wall-item -->
        </div> <!--/wall-column -->  
      </div>   <!--/whats_new_content --> 

          </div> <!-- brand products tab content ends -->
          <div class="upcoming-con tab-pane fade" id="brand-upcoming">
          </div> <!-- brand products tab content ends -->
          


        </div> <!--/tab-content -->
          <div class="product-share-sectn brand-pg col-lg-8 col-md-8 col-sm-11 col-xs-12">
                  <h5>Share This </h5>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding">
                     <div class="product-inner-social col-lg-4 col-md-5 col-sm-12 col-xs-12 nopadding">
                        <ul class="follow-icons">
                          <li><a class="facebook-follow" href="" target="_blank"></a></li>
                          <li><a class="twitter-follow" href= target="_blank"></a></li>
                          <li><a class="instagram-follow" href="" target="_blank"></a></li>
                          <li><a class="linkedin-follow" href="" target="_blank"></a></li>
                          <li><a class="rss-follow" href="#"></a></li>
                        </ul>
                     </div>
                     <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12 nopadding btn-sectn"><a href=""><button class="goto-web-btn">Go to official website</button> </a><button class="query-btn" id="btn">Send a Query</button> </div>
                  </div>
          </div> <!-- /product-share-sectn -->
          <div class="sendquery-form" style="display: none;"> 
             <form class="col-lg-6 col-md-7 col-sm-10 col-xs-12" >
               <label>Send a query</label>
               <input type="text" name="" value="" placeholder="NAME" class="textbox textbox2">
               <input type="text" name="" value="" placeholder="CONTACT NO." class="textbox textbox2">
               <input type="text" name="" value="" placeholder="EMAIL ID" class="textbox">
               <input type="text" name="" value="" placeholder="CHOOSE A SUITABLE DATE" class="textbox textbox3">
               <input type="text" name="" value="" placeholder="AND TIME" class="textbox textbox4">
               <input type="text" name="" value="" placeholder="DEFAULT" class="textbox textbox5">
               <textarea class="textbox"></textarea>
               <button class="try-now-submit">SUBMIT</button>
             </form>
          </div> <!--/try-now-con -->


    </div>
  </div>  
</div>
<!--barnd pg-con ends -->

<footer>
  <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 footer-inner">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <p>All rights reserved. All content belongs to respective owners </p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
       <ul>
         <li><a href="#">Rigalio Team </a> </li>
         <li><a href="#">Contact & Legal Notice </a> </li>
         <li><a href="#">Privacy </a> </li>
       </ul>
    </div>
  </div>
</footer>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->


  </body>
<script>
  $('.wall').jaliswall({item:'.wall-item'});
onsload();
</script>
</html>
