							
<div class="container" ng-controller="filtercontroller">
	<h3>Products</div>
		<h3>Category List </h3>
		<div class="row">

			<div class="col-sm-3" style="background-color:#f6f6f6 !important;">
				 <!-- <ul><li ng-repeat="item in menu"> <a href="" id="{{ item.categoryId }}" ng-click="findcategory(item.category_Name)">{{ item.category_Name }} </a></li>
				</ul>-->

				<div class="filterpart" ng-repeat="item in menu">
					<label> <input checklist-model="roles" style="opacity:1; position: relative; width: 10px; height: 12px;" type="checkbox" name="checkboxlist" ng-click="myfilter(item.categoryId);" value="{{ item.categoryId }}"> {{ item.category_Name }}</label>
				</div>

				
				<h2>Brand List</h2>
				<label><input type="text" ng-model="brand_Search"> : Find Brand </label>
				<div class="filterpart" ng-repeat="brand in brandlist | filter :brand_Search | orderBy:'brand_Name'">
					<label> <input checklist-model="roles" style="opacity:1; position: relative; width: 10px; height: 12px;" type="checkbox" name="brandchecklist" ng-click="myfilter(item.categoryId);" value="{{ brand.brandId }}"> {{ brand.brand_Name }}</label>
				</div>

			</div>

		

			<div class="col-sm-9">


				<h1><input type="text" name="product" ng-model="prod_category"></h1>
				<!--<div class="wall-column" ng-animate="'animate'" ng-repeat="product in products  | filter : { categoryId: categoryId }">-->
				<h1>{{message}}</h1>
				<div class="wall-column" ng-animate="'animate'" ng-repeat="product in products | catfilter">
					<div class="wall-item">
						<div class="category cat_travel">
							<div class="category_img">
								<img src="http://www.rigalio.com/{{ product.product_image }}" class="img-responsive">
								<div class="hover-content-cat">
									<div class="tab">
										<div class="tab-in">
											<div class="cat-zoom-icon"><span class="fa fa-plus"></span> </div>
											<div class="cat-plus-icon" style="display:none;"> </div>
											<div class="cat-minus-icon" style="display:none;"><span class="fa fa-minus "></span> </div>
											<h4><a href="#/brand/{{product.brandId}}">{{ product.brand_Name }}</a> </h4>
											<a href="javascript:void(0)"><button class="follow-brand-btn follow" data-text="Follow brand"><i class="fa fa-check"></i></button></a>
										</div>  <!--/tab-in -->
									</div> <!--/tab -->   
								</div> <!--/hover-content-cat -->
							</div> <!--/category_img--> 
							<div class="category_content">
								<div class="relative-struct"><h1 class="hea"><a href="#/product/{{ product.productId}}">{{ product.category_Name }} </a> 
									<div class="tooltip cat-follow-popup nopadding">
										<div class="tab">
											<div class="tab-cell">
												<div class="img-part"> <span class="icomoon icon-hotels-resorts2"> </span></div>
												<div class="follow-con">
													<img src="content/images/icons/follow-arrow.png" class="arrow">
													<h1>{{product.subCategory_Name}} </h1> 
													<div class="follow-status"> 
														<button data-text="Follow category" class="follow-cat-btn normal follow-cat"><i class="fa fa-check"></i></button>
													</div>
												</div>
											</div>
										</div> 

									</div> </h1>
								</div> <!--/relative-struct -->

								<h2>{{product.productSmallDiscription}} </h2>
							</div> <!--/category_content-->
							<div class="category_options">
								<table>
									<tbody>
										<tr class="">
											<td class="date-status cat_travel"><p>5 days ago </p>  </td> 
											<td class="crown-sectn cat_travel"><span class="text">5 </span><span class="icomoon icon-crown"> </span> </td>
											<td class="comment-sectn cat_travel"><span class="text">5 </span> <span class="icomoon icon-chat"></span> </td>
											<td class="fwd-icon-sectn cat_travel"><span class="text">5 </span><span class="icomoon icon-sharing"></span> </td>
										</tr>
									</tbody>
								</table>
								<div style="display:none;" class="fwd-social-icons sec7">
									<ul class="cat-follow-icons">
										<li><a target="_blank" href="javascript:void(0)" class="fb"></a></li>
										<li><a href="javascript:void(0)" class="twitter"></a></li>
										<li><a target="_blank" href="javascript:void(0)" class="insta"></a></li>
										<li class="show-more"><a href="javascript:void(0)" class="more"></a></li>
									</ul>
									<div style="display:none;" class="hidden-more-icons">
										<ul class="follow-icons-more">
											<li><a class="linkdin" href="javascript:void(0)"> </a> </li>
											<li><a class="gplus" href="javascript:void(0)"> </a> </li>
											<li><a class="pini" href="javascript:void(0)"> </a> </li>
										</ul>
									</div>
								</div> <!--/inner forward icons social -->
								<div style="display: none;" class="write-comment">
									<span><img class="img-responsive img-circle" src="content/images/timeline/profile-pic-small.png"> </span>
									<span class="commentbox"><a><input type="text" placeholder="Write a Comment" value="" name=""></a> </span><a href="#"><span class="icomoon icon-reply"></span> </a>
								</div> <!--/write-comment -->
							</div><!--/category_options-->
						</div> <!--/category-->
					</div> <!--/wall-item -->
				</div> <!--/wall-column -->
			</div>
		</div>


		{{filtercontroller.roles}}

	</div>