  
  <div ng-controller="OtherController" class="other-controller">
          <small>this is in "OtherController"</small>
          <div class="text-center">
          <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="js/dirPagination.tpl.html"></dir-pagination-controls>
          </div>
  </div>
  <input type="number" min="1" max="100" class="form-control" ng-model="pageSize" style="display: none;">

<h1><input type="text" name="product" ng-model="prod_category"></h1>
  <div class="wall-column" dir-paginate="product in products  | filter : { category_Name: prod_category } | itemsPerPage: pageSize" current-page="currentPage">
          <div class="wall-item">
            <div class="category cat_travel">
               <div class="category_img">
                  <img src="http://www.rigalio.com/{{ product.product_image }}" class="img-responsive">
                  <div class="hover-content-cat">
                    <div class="tab">
                      <div class="tab-in">
                         <div class="cat-zoom-icon"><span class="fa fa-plus"></span> </div>
                         <div class="cat-plus-icon" style="display:none;"> </div>
                         <div class="cat-minus-icon" style="display:none;"><span class="fa fa-minus "></span> </div>
                         <h4><a href="#/brand/{{product.brandId}}">{{ product.brand_Name }}</a> </h4>
                         <a href="javascript:void(0)"><button class="follow-brand-btn follow" data-text="Follow brand"><i class="fa fa-check"></i></button></a>
                      </div>  <!--/tab-in -->
                    </div> <!--/tab -->   
                  </div> <!--/hover-content-cat -->
               </div> <!--/category_img--> 
               <div class="category_content">
                 <div class="relative-struct"><h1 class="hea"><a href="#/product/{{ product.productId}}">{{ product.category_Name }} </a> 
                 <div class="tooltip cat-follow-popup nopadding">
                   <div class="tab">
                     <div class="tab-cell">
                       <div class="img-part"> <span class="icomoon icon-hotels-resorts2"> </span></div>
                       <div class="follow-con">
                          <img src="content/images/icons/follow-arrow.png" class="arrow">
                          <h1>{{product.subCategory_Name}} </h1> 
                          <div class="follow-status"> 
                            <button data-text="Follow category" class="follow-cat-btn normal follow-cat"><i class="fa fa-check"></i></button>
                          </div>
                       </div>
                     </div>
                   </div> 
                       
                  </div> </h1>
                   </div> <!--/relative-struct -->

                 <h2>{{product.productSmallDiscription}} </h2>
               </div> <!--/category_content-->
               <div class="category_options">
                  <table>
                     <tbody>
                      <tr class="">
                       <td class="date-status cat_travel"><p>5 days ago </p>  </td> 
                       <td class="crown-sectn cat_travel"><span class="text">5 </span><span class="icomoon icon-crown"> </span> </td>
                       <td class="comment-sectn cat_travel"><span class="text">5 </span> <span class="icomoon icon-chat"></span> </td>
                       <td class="fwd-icon-sectn cat_travel"><span class="text">5 </span><span class="icomoon icon-sharing"></span> </td>
                     </tr>
                    </tbody>
                  </table>
                  <div style="display:none;" class="fwd-social-icons sec7">
                     <ul class="cat-follow-icons">
                        <li><a target="_blank" href="javascript:void(0)" class="fb"></a></li>
                        <li><a href="javascript:void(0)" class="twitter"></a></li>
                        <li><a target="_blank" href="javascript:void(0)" class="insta"></a></li>
                        <li class="show-more"><a href="javascript:void(0)" class="more"></a></li>
                      </ul>
                      <div style="display:none;" class="hidden-more-icons">
                        <ul class="follow-icons-more">
                          <li><a class="linkdin" href="javascript:void(0)"> </a> </li>
                          <li><a class="gplus" href="javascript:void(0)"> </a> </li>
                          <li><a class="pini" href="javascript:void(0)"> </a> </li>
                        </ul>
                      </div>
                  </div> <!--/inner forward icons social -->
                  <div style="display: none;" class="write-comment">
                      <span><img class="img-responsive img-circle" src="content/images/timeline/profile-pic-small.png"> </span>
                      <span class="commentbox"><a><input type="text" placeholder="Write a Comment" value="" name=""></a> </span><a href="#"><span class="icomoon icon-reply"></span> </a>
                  </div> <!--/write-comment -->
               </div><!--/category_options-->
            </div> <!--/category-->
          </div> <!--/wall-item -->
        </div> <!--/wall-column -->