<div class="product_pg_tagline" ng-controller="prodpagecontroller">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
     <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 content_headline">

           <hr>
        <div class="product-info col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
          <ul>
             <li><label>Brand <hr class="seprator"> <span class="brand-name">{{ product_info.data.product[0].brand_Name}}</span> 
                  <div class="tooltip cat-follow-popup tooltipfirst"> <div class="img-part"> <img src="content/images/follow-specs.jpg"></div>
                     <div class="follow-con">
                        <img src="content/images/icons/follow-arrow.png" class="arrow">
                        <h1>{{ product_info.data.product[0].category_Name}} </h1> 
                        <div class="follow-status"> 
                         <button data-text="Follow category" class="follow-cat-btn normal follow-cat"><i class="fa fa-check"></i></button>
                        </div>
                     </div>
                </div> 

                 </label> 
                 
             </li>
             <li><label>Category  <hr class="seprator"><span class="cat-tool-tag">Watches </span><div class="tooltip cat-follow-popup toolsecond" style="display:none;"> <div class="img-part"> <img src="content/images/follow-specs.jpg"></div>
                     <div class="follow-con">
                        <img src="content/images/icons/follow-arrow.png" class="arrow">
                        <h1>Travel and Hotels </h1> 
                        <div class="follow-status"> 
                         <button data-text="Follow category" class="follow-cat-btn normal follow-cat"><i class="fa fa-check"></i></button>
                        </div>
                     </div>
                </div> </label> 
               
             </li>
             
          </ul>
        </div> <!--/product-info -->  
      </div>
      
  </div>      
</div> <!--/product_pg_tagline -->
<div class="basic-cat-info col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="basic-cat-info-inner col-lg-10 col-md-10 col-sm-12 col-xs-12">
       <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 breadcrumb"> 
          <span>You are here: </span>
             <ul> <li>Home </li>  <li> Auto </li> <li> Cars </li></ul>
       </div>
       <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 follow-list">
           <table>
              <tr>
                <td>09/08/2015 </td>
                <td class="crown-sectn"> <span>5 </span> <span class="icomoon icon-crown"> </span></td>
                <td class="comment-sectn" id="scroll-coment1"> <span>5 </span> <span class="icomoon icon-chat"></span></td>
                <td class="fwd-icon-sectn"> <span>5 </span> <span class="icomoon icon-sharing"></span></td>
                <td class="saveas-icon"><span class="icomoon icon-plus-icon-with-hex cat_auto"></span></td>
              </tr>
           </table>
       </div>
       <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 cat-navigation">
          <div class="prev-cat"><i class="fa fa-angle-left"></i>Previous </div> 
          <div class="next-cat">Next <i class="fa fa-angle-right"></i></div> 
       </div>
    </div>  <!--/basic-cat-info-inner -->      
</div>  <!--/basic-cat-info -->
<!--category-pg-con -->
<div class="category-pg-con col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding">
  <div class="container-fluid">
    <div class="row">
       <div class="category-tab-panel col-lg-8 col-md-8 col-sm-12 col-xs-12">
             <ul  class="nav nav-pills">
                <li><a href="#cat-video" data-toggle="tab"><div class="bg-hid cat_auto"> Video</div> Video</a></li>
                <li class="active"><a  href="#cat-overview" data-toggle="tab"><div class="bg-hid cat_auto">Overview</div>Overview</a></li>
                <li><a  href="#cat-inspiration" data-toggle="tab"><div class="bg-hid cat_auto">Inspiration</div>Inspiration</a></li>
                <li><a href="#cat-highlights" data-toggle="tab"><div class="bg-hid cat_auto">Highlights </div> Highlights</a></li>
                <li><a href="#cat-specs" data-toggle="tab"><div class="bg-hid cat_auto">Specs </div>Specs</a></li>
                <li><a href="#cat-designer" data-toggle="tab"><div class="bg-hid cat_auto">The Designer </div>The Designer</a></li>
                <li><a href="#cat-trynow" class="try-now-tab"><div class="bg-hid cat_auto">Try now</div>Try now</a></li>
              </ul>
          </div> <!--/category-tab-panel -->
        <div id="myTabContent" class="tab-content">    
          
          <div class="overview-con tab-pane fade " id="cat-overview">
            <div class="product-con-sectn col-lg-12 col-md-12 col-sm-12 col-xs-12">
               <div class="product-con-inner col-lg-7 col-md-7 col-sm-7 col-xs-12">
                  <p>this is ma content. this is ma content this is ma content this is ma content this is ma content this is ma content this is ma content this is ma content this is ma content this is ma content this is ma content this is ma content this is ma content this is ma content. this is ma content this is ma content this is ma content this is ma content this is ma content </p>
               </div> <!--/product-con-inner -->
            </div> <!--/product-con-sectn -->
            <div class="product-slider col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding">
                 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin:0 auto; position: relative;">
                  <div class="col-lg-8 col-md-8 col-sm-10 col-xs-12 product-carousel-inner">
                    <div id="carousel" class="carousel slide  slides-part" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="content/images/slider-product/slide-img1.jpg">
                            </div>
                            <div class="item">
                                <img src="content/images/slider-product/slide-img1.jpg">
                            </div>
                            <div class="item">
                                <img src="content/images/slider-product/slide-img1.jpg">
                            </div>
                            <div class="item">
                                <img src="content/images/slider-product/slide-img1.jpg">
                            </div>
                            <div class="item">
                                <img src="content/images/slider-product/slide-img1.jpg">
                            </div>
                            <div class="item">
                                <img src="content/images/slider-product/slide-img1.jpg">
                            </div>
                            <div class="item">
                                <img src="content/images/slider-product/slide-img1.jpg">
                            </div>
                            <div class="item">
                                <img src="content/images/slider-product/slide-img1.jpg">
                            </div>
                        </div>
                        <div class="expand-slide-img"><a href="javascript:void(0)"> </a></div>
                        <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
                            <span><i class="fa fa-angle-left"></i></span>
                        </a>
                        <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
                            <span><i class="fa fa-angle-right"></i></span>
                        </a>
                    </div> <!--/carousel -->
                    <div id="thumbcarousel" class="carousel slide thumnails-part" data-ride="carousel" style="overflow: hidden; display: block; width: 100%; margin: 0 auto;text-align: center; clear: both;" >
                        <div class="" style="display: block; width: 100%; margin: 0 auto; text-align: center; vertical-align: middle;">
                            <div class="item active">
                                <div data-target="#carousel" data-slide-to="0" class="thumb"><img src="content/images/slider-product/thumb-img2.jpg">
                                <div class="overlay-bg"> <span><i class="fa fa-plus"></i></span> </div>
                                </div>
                            </div><!-- /item -->
                            <div class="item">
                                <div data-target="#carousel" data-slide-to="1" class="thumb"><img src="content/images/slider-product/thumb-img2.jpg">
                                <div class="overlay-bg"> <span><i class="fa fa-plus"></i></span> </div>
                                </div>
                            </div>
                            <div class="item">
                                <div data-target="#carousel" data-slide-to="3" class="thumb"><img src="content/images/slider-product/thumb-img2.jpg">
                                <div class="overlay-bg"> <span><i class="fa fa-plus"></i></span> </div>
                                </div>
                            </div>
                            <div class="item">
                                <div data-target="#carousel" data-slide-to="4" class="thumb"><img src="content/images/slider-product/thumb-img2.jpg">
                                <div class="overlay-bg"> <span><i class="fa fa-plus"></i></span> </div>
                                </div>
                            </div>
                            <div class="item">
                                <div data-target="#carousel" data-slide-to="5" class="thumb"><img src="content/images/slider-product/thumb-img2.jpg">
                                <div class="overlay-bg"> <span><i class="fa fa-plus"></i></span> </div>
                                </div>
                            </div>
                            <div class="item">
                                <div data-target="#carousel" data-slide-to="6" class="thumb"><img src="content/images/slider-product/thumb-img2.jpg">
                                <div class="overlay-bg"> <span><i class="fa fa-plus"></i></span> </div>
                                </div>
                            </div>
                            <div class="item">
                                <div data-target="#carousel" data-slide-to="7" class="thumb"><img src="content/images/slider-product/thumb-img2.jpg">
                                <div class="overlay-bg"> <span><i class="fa fa-plus"></i></span> </div>
                                </div>
                            </div>
                            <div class="item">
                                <div data-target="#carousel" data-slide-to="8" class="thumb"><img src="content/images/slider-product/thumb-img2.jpg">
                                <div class="overlay-bg"> <span><i class="fa fa-plus"></i></span> </div>
                                </div>
                            </div>

                        </div><!-- /carousel-inner -->
                        <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
                            <span><i class="fa fa-angle-left"></i></span>
                        </a>
                        <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
                            <span><i class="fa fa-angle-right"></i></span>
                        </a>
                    </div> <!-- /thumbcarousel -->



                  </div> <!--/carousel inner -->
                   
                 </div> 
              </div>   
            </div>
            <!--/slider of product -->
            <div class="product-con-sectn col-lg-12 col-md-12 col-sm-12 col-xs-12">
               <div class="product-con-descriptn col-lg-8 col-md-8 col-sm-8 col-xs-12">
                  <p>this is ma content. this is ma content this is ma content this is ma content this is ma content this is ma content this is ma content this is ma content this is ma content this is ma content this is ma content this is ma content this is ma content this is ma content. this is ma content this is ma content this is ma content this is ma content this is ma conten. this is ma content. this is ma content this is ma content this is ma content this is ma content this is ma content this is ma content this is ma content this is ma content this is ma content this is ma content this is ma content this is ma content this is ma content. this is ma content this is ma content this is ma content this is ma content this is ma content </p>
                  <hr>
               </div> <!--/product-con-inner -->
               
            </div> <!--/product-con-sectn -->
          </div> <!-- product overview tab content ends -->
          <!-- product highlight tab content -->
          <div class="highlights-con tab-pane fade" id="cat-highlights">
             <div class="hightlight-inner-con col-lg-9 col-md-9 col-sm-10 col-xs-12">
                 <div class="highlight-sectn1 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                     <div class="highlight-img col-lg-5 col-md-5 col-sm-6 col-xs-6 nopadding">
                        <span><img src="content/images/highlights/img1.png" class="img-responsive"></span> <hr class="left">
                     </div> <!-- /highlight-img -->
                     <div class="hightlight-text col-lg-6 col-md-6 col-sm-6 col-xs-6 nopadding">
                         <h5>The highlight is all about </h5>
                         <p>The highlight is all about. The highlight is all about. The highlight is all about. The highlight is all about </p>
                     </div> <!-- /hightlight-text -->
                 </div> <!-- /highlight-sectn1 -->
                 <div class="highlight-sectn1 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                     <div class="hightlight-text col-lg-6 col-md-6 col-sm-6 col-xs-6 nopadding">
                         <h5>The highlight is all about </h5>
                         <p>The highlight is all about. The highlight is all about. The highlight is all about. The highlight is all about </p>
                     </div> <!-- /hightlight-text -->
                     <div class="highlight-img col-lg-5 col-md-5 col-sm-6 col-xs-6 nopadding">
                        <span><img src="content/images/highlights/img2.png" class="img-responsive pull-right"> </span> <hr class="right">
                     </div> <!-- /highlight-img -->
                 </div> <!-- /highlight-sectn1 -->
             </div> <!--/ hightlight-inner-con -->
             <div class="hightlight-inner-con col-lg-8 col-md-8 col-sm-10 col-xs-12">
                 <div class="highlight-sectn2 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                     <div class="hightlight-text col-lg-6 col-md-6 col-sm-6 col-xs-6 nopadding">
                         <h5>The highlight is all about </h5>
                         <p>The highlight is all about. The highlight is all about. The highlight is all about. The highlight is all about </p>
                     </div> <!-- /hightlight-text -->
                     <div class="highlight-img col-lg-6 col-md-6 col-sm-6 col-xs-6 nopadding">
                        <span><img src="content/images/highlights/img1.png" class="img-responsive pull-right"></span> <hr class="left">
                     </div> <!-- /highlight-img -->
                 </div> <!-- /highlight-sectn1 -->
                 <div class="highlight-sectn2 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                     <div class="highlight-img col-lg-6 col-md-6 col-sm-6 col-xs-6 nopadding">
                        <span><img src="content/images/highlights/img1.png" class="img-responsive"></span> <hr class="right">
                     </div> <!-- /highlight-img -->
                     <div class="hightlight-text col-lg-6 col-md-6 col-sm-6 col-xs-6 nopadding">
                         <h5>The highlight is all about </h5>
                         <p>The highlight is all about. The highlight is all about. The highlight is all about. The highlight is all about </p>
                     </div> <!-- /hightlight-text -->
                     
                 </div> <!-- /highlight-sectn1 -->
             </div> <!--/ hightlight-inner-con -->
          </div> <!-- product highlight tab content ends -->
                <!--/product specifications tab content starts -->
          <div class="specs-con tab-pane fade active in " id="cat-specs">
            <div class="panel-group col-lg-9 col-md-9 col-sm-10 col-xs-12" id="accordion">
              <div class="panel-default">
                 <div data-toggle="collapse" data-parent="#accordion" class="collapsed spec-headline cat_fashion" href="#engine">
                    <label class="cat_fashion"><span class="spec-cat-icon"><i class="fa fa-wrench"></i></span>Engine</label>
                    <a class="pull-right collapsed"><i class="fa fa-chevron-down cat_fashion"></i></a>
                  </div> <!--panel spce list main -->
                  <div id="engine" class="panel-collapse collapse in">
                     <table>
                        <tr>
                           <td class="left-col">compression ratio: </td>
                           <td class="right-col">565hp </td>
                        </tr>
                        <tr>
                           <td class="left-col">compression ratio: </td>
                           <td class="right-col">565hp </td>
                        </tr>
                        <tr>
                           <td class="left-col">compression ratio: </td>
                           <td class="right-col">565hp </td>
                        </tr>
                        <tr>
                           <td class="left-col">compression ratio: </td>
                           <td class="right-col">565hp </td>
                        </tr>
                     </table>
                  </div> <!--panel inner sec con-->
              </div> <!--/panel-default -->
              <div class="panel-default">
                 <div data-toggle="collapse" data-parent="#accordion" class="spec-headline" href="#dimension">
                    <label class="cat_fashion"><span class="spec-cat-icon"><i class="fa fa-wrench"></i></span>Dimension</label>
                    <a class="pull-right collapsed"><i class="fa fa-chevron-down cat_fashion"></i></a>
                  </div> <!--panel spce list main -->
                  <div id="dimension" class="panel-collapse collapse">
                     <table>
                        <tr>
                           <td class="left-col">compression ratio: </td>
                           <td class="right-col">565hp </td>
                        </tr>
                        <tr>
                           <td class="left-col">compression ratio: </td>
                           <td class="right-col">565hp </td>
                        </tr>
                        <tr>
                           <td class="left-col">compression ratio: </td>
                           <td class="right-col">565hp </td>
                        </tr>
                        <tr>
                           <td class="left-col">compression ratio: </td>
                           <td class="right-col">565hp </td>
                        </tr>
                     </table>
                  </div> <!--panel inner sec con-->
              </div> <!--/panel-default -->
              <div class="panel-default" ng-repeat="specs in product_info.data.specification">
                 <div data-toggle="collapse" data-parent="#accordion" class="spec-headline" href="#engine-spec">
                    <label class="cat_fashion"><span class="spec-cat-icon"><i class="fa fa-wrench"></i></span>{{specs.Type}}

                     </label>
                    <a class="pull-right collapsed"><i class="fa fa-chevron-down cat_fashion"></i></a>
                  </div> <!--panel spce list main -->
                  <div id="engine-spec" class="panel-collapse collapse">

                     <table>
                        <tr ng-repeat="feature in specs">

                           <td class="left-col">{{ feature.specifictionType_Name}} </td>
                           <td class="right-col">{{feature.specification_Desc}} </td>
                        </tr>
                      
                     </table>
                  </div> <!--panel inner sec con-->
              </div> <!--/panel-default -->
            </div> <!-- /specs-tab-con -->
          </div> <!--/product specifications tab content ends -->
          <div class="inspiration-con tab-pane fade" id="cat-inspiration">
             <div class="tab-tagline col-lg-9 col-md-9 col-sm-10 col-xs-12">
               <h3><span> <img src="http://rigalio.com/x/no_access/content/images/aboutus/big-motive-left.png" class="img-responsive"> </span> Inspiration <span><img src="http://rigalio.com/x/no_access/content/images/aboutus/big-motive-right.png" class="img-responsive"> </span> </h3>
             </div>
             <div class="inner-con col-lg-6 col-md-6 col-sm-8 col-xs-12">
               <h5> Designer Zuhair Murad grew up in Baalbek, Lebanon. Since his childhood, he always dreamt of escaping to a world of fantasy. He started sketching dresses at the age of ten.  In 1997, Zuhair Murad opened his first atelier in Beirut and was immediately acknowledged as a visionary from the industry.</h5>
               <div> <hr> </div>
               <h5> “I love the possibilities of corsets. You could say I wanted to put women in a gilded cage,” the designer told media backstage before the show, meaning it in the strictly figurative way."  </h5>
               <div class="closure">  <img src="content/images/icons/motif-down.png" class="img-responsive"> </div>
             </div> <!--/inner-con -->
          </div> <!--/inspiration-con -->
          <div class="designer-con tab-pane fade" id="cat-designer">
            <div class="tab-tagline col-lg-9 col-md-9 col-sm-10 col-xs-12">
              <h3><span> <img src="http://rigalio.com/x/no_access/content/images/aboutus/big-motive-left.png" class="img-responsive"> </span> The Designer <span><img src="http://rigalio.com/x/no_access/content/images/aboutus/big-motive-right.png" class="img-responsive"> </span> </h3>
            </div>
            <div class="inner-con col-lg-9 col-md-9 col-sm-10 col-xs-12">
              <p>The Zuhair Murad brand was established in 1997 in Beirut and Paris. Today, the Zuhair Murad brand name is synonymous with some of the world's most coveted high fashion with over 100 extravagent showrooms and locations in premium multi brand fashion boutiques spread all over the globe (the USA, France, the United Kingdom, Monaco, Switzerland, Japan, Russia, Canada, Singapore, China and the UAE) with plans for expansion in the coming years </p>
              <div class="designer-img">
                <img src="content/images/designer/design-img1.jpg" class="img-responsive">
              </div> <!--/designer-img -->
              <p>Zuhair Murad collection is an amalgamation of the ancient tradition with a contemporary twist, an idea to which the House is very devoted. Perfection is also what Zuhair Murad designs strive to achieve during all the phases of his creations: from the concept to the conception then the completion. Each garment is the result of a long and rigorous artisanal awareness that creates the ultimate experience in elegance. </p>
            </div>
          </div> <!--/designer-con -->


        </div> <!--/tab-content -->
          <div class="product-share-sectn col-lg-7 col-md-7 col-sm-12 col-xs-12">
                  <h5>Share This </h5>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding">
                     <div class="product-inner-social col-lg-6 col-md-6 col-sm-12 col-xs-12 nopadding">
                        <ul class="follow-icons">
                          <li><a class="facebook-follow" href="" target="_blank"></a></li>
                          <li><a class="twitter-follow" href= target="_blank"></a></li>
                          <li><a class="instagram-follow" href="" target="_blank"></a></li>
                          <li><a class="linkedin-follow" href="" target="_blank"></a></li>
                          <li><a class="rss-follow" href="#"></a></li>
                          <li><a class="pin-follow" href="#"></a></li>
                        </ul>
                     </div>
                     <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 nopadding"><button class="test-drive-btn">try now</button></div>
                  </div>
          </div> <!-- /product-share-sectn -->
          <div class="try-now-con" style="display: none;" id="cat-trynow"> 
             <form class="col-lg-6 col-md-7 col-sm-10 col-xs-12" >
               <label>TRY NOW</label>
               <input type="text" name="" value="" placeholder="NAME" class="textbox textbox2">
               <input type="text" name="" value="" placeholder="CONTACT NO." class="textbox textbox2">
               <input type="text" name="" value="" placeholder="EMAIL ID" class="textbox">
               <input type="text" name="" value="" placeholder="CHOOSE A SUITABLE DATE" class="textbox textbox3" id="datepicker2">
               <input type="text" name="" value="" placeholder="AND TIME" id="basicExample" class="time textbox textbox4">
               <button class="try-now-submit">SUBMIT</button>
             </form>
             <div class="close-btn"> <img src="content/images/icons/close-btn-black.png" class="img-responsive"> </div>
          </div> <!--/try-now-con -->

    </div>
  </div>  
</div>
<!--category-pg-con ends -->
<div class="main_content">
  <div class="container-fluid">
    <div class="row">
          

       <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 content_headline-categorypg">
          <h2>Comments </h2>
          <hr>
       </div> 
      </div> <!--/content tagline-->

<div class="editorial-post-con">
      <div class="product-posts-sectn pd-top col-lg-12 col-md-12 col-sm-12 col-xs-12">
         <div class="product-post post1-con col-lg-8 col-md-8 col-sm-10 col-xs-12">
           <div class="user-img col-lg-2 col-md-2 col-sm-4 col-xs-4 nopadding"> <img src="content/images/user-img.jpg"></div>
           <div class="post-inner-con col-lg-10 col-md-10 col-sm-8 col-xs-8 nopadding">
              <ul>
                <li class="username">Dev Batra </li>
                <li class="diamond"><i class="fa fa-diamond"></i> Diamond </li>
                <li class="date-time"> Nov 12 2015 at 9:30am </li>
                <span class="post-author">Post Author  </span>
              </ul>
              <p>this is ma testing content.this is ma testing content.this is ma testing content.this is ma testing content.this is ma testing content.this is ma testing content.  </p>
              <div class="reply-con">
                 <ul>
                    <li class="reply-no"><a href="javascript:void(0)">10 <span class="reply-like">  </span> </a> </li>
                    <li><a href="javascript:void(0)">Reply <i class="fa fa-reply"></i> </a> </li>
                 </ul>
              </div>
           </div> <!-- /post-inner-con -->
         </div> <!--/post1-con -->
      </div> <!--/product-posts-sectn -->
      <div class="product-posts-sectn pd-top col-lg-12 col-md-12 col-sm-12 col-xs-12">
         <div class="product-post post1-con col-lg-8 col-md-8 col-sm-10 col-xs-12">
           <div class="user-img col-lg-2 col-md-2 col-sm-4 col-xs-4 nopadding"> <img src="content/images/user-img.jpg"></div>
           <div class="post-inner-con col-lg-10 col-md-10 col-sm-8 col-xs-8 nopadding">
              <ul>
                <li class="username">Dev Batra </li>
                <li class="diamond"><i class="fa fa-diamond"></i> Diamond </li>
                <li class="date-time"> Nov 12 2015 at 9:30am </li>
                <span class="post-author">Post Author  </span>
              </ul>
              <p>this is ma testing content.this is ma testing content.this is ma testing content.this is ma testing content.this is ma testing content.this is ma testing content.  </p>
              <div class="reply-con">
                <ul>
                    <li class="reply-no"><a href="javascript:void(0)">10 <span class="reply-like">  </span> </a> </li>
                    <li><a href="javascript:void(0)">Reply <i class="fa fa-reply"></i> </a> </li>
                 </ul>
              </div>
           </div> <!-- /post-inner-con -->
         </div> <!--/post1-con -->
      </div> <!--/product-posts-sectn -->
      <div class="product-posts-sectn pd-top col-lg-12 col-md-12 col-sm-12 col-xs-12">
         <div class="product-post post1-con col-lg-8 col-md-8 col-sm-10 col-xs-12">
           <div class="user-img col-lg-2 col-md-2 col-sm-4 col-xs-4 nopadding"> <img src="content/images/user-img.jpg"></div>
           <div class="post-inner-con col-lg-10 col-md-10 col-sm-8 col-xs-8 nopadding">
              <ul>
                <li class="username">Dev Batra </li>
                <li class="diamond"><i class="fa fa-diamond"></i> Diamond </li>
                <li class="date-time"> Nov 12 2015 at 9:30am </li>
                <span class="post-author">Post Author  </span>
              </ul>
              <p>this is ma testing content.this is ma testing content.this is ma testing content.this is ma testing content.this is ma testing content.this is ma testing content.  </p>
              <div class="reply-con">
                 <ul>
                    <li class="reply-no"><a href="javascript:void(0)">10 <span class="reply-like">  </span> </a> </li>
                    <li><a href="javascript:void(0)">Reply <i class="fa fa-reply"></i> </a> </li>
                 </ul>
              </div>
           </div> <!-- /post-inner-con -->
         </div> <!--/post1-con -->
      </div> <!--/product-posts-sectn -->
      <div class="product-reply-sectn col-lg-8 col-md-8 col-sm-10 col-xs-12 nopadding">
           <h3> Leave a reply </h3>
           <hr>
           <div class="reply-area col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding">
             <textarea rows="10" class="textarea1"></textarea>
           </div>
           <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 nopadding"></div>
           <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 nopadding">
             <a href=""><button class="post-comment-btn">Post comment</button> </a>
           </div>
      </div>
</div> <!--/ product post content -->

      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
         <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 content_headline">
            <h2>More posts like this one </h2>
            <hr>
         </div> 
      </div>
      <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12 wall whats_new_content">
        <div class="wall-column">
          <div class="wall-item">
            <div class="category cat_travel">
               <div class="category_img">
                  <img src="content/images/category/fashion.jpg" class="img-responsive">
                  <div class="hover-content-cat">
                    <div class="tab">
                      <div class="tab-in">
                         <div class="cat-zoom-icon"><span class="fa fa-plus"></span> </div>
                         <div class="cat-plus-icon" style="display:none;"> </div>
                         <div class="cat-minus-icon" style="display:none;"><span class="fa fa-minus "></span> </div>
                         <h4>By Gucci </h4>
                        <a href="javascript:void(0)"><button class="follow-brand-btn follow" data-text="Follow brand"><i class="fa fa-check"></i></button></a>
                      </div>  <!--/tab-in -->
                    </div> <!--/tab -->   
                  </div> <!--/hover-content-cat -->
               </div> <!--/category_img--> 
               <div class="category_content">
                 <div class="relative-struct"><h1 class="hea"><a href="#">Travel and Hotels </a> 
                 <div class="tooltip cat-follow-popup nopadding">
                   <div class="tab">
                     <div class="tab-cell">
                       <div class="img-part"> <span class="icomoon icon-hotels-resorts2"> </span></div>
                       <div class="follow-con">
                          <img src="content/images/icons/follow-arrow.png" class="arrow">
                          <h1>Travel and Hotels </h1> 
                          <div class="follow-status"> 
                            <button data-text="Follow category" class="follow-cat-btn normal follow-cat"><i class="fa fa-check"></i></button>
                          </div>
                       </div>
                     </div>
                   </div> 
                       
                  </div> </h1>
                   </div> <!--/relative-struct -->

                 <h2>My Travel Diaries: Spellbinding Beauty Of Indonesian Archipelago Will Leave Your Jaw Dropped! </h2>
               </div> <!--/category_content-->
               <div class="category_options">
                  <table>
                     <tbody>
                      <tr>
                       <td class="date-status"><p>5 days ago </p>  </td> 
                       <td class="crown-sectn "><span class="text">5 </span><span class="icomoon icon-crown"> </span> </td>
                       <td class="comment-sectn"><span class="text">5 </span> <span class="icomoon icon-chat"></span> </td>
                       <td class="fwd-icon-sectn"><span class="text">5 </span><span class="icomoon icon-sharing"></span> </td>
                     </tr>
                    </tbody>
                  </table>
                  <div style="display:none;" class="fwd-social-icons sec7">
                     <ul class="cat-follow-icons">
                        <li><a target="_blank" href="javascript:void(0)" class="fb"></a></li>
                        <li><a href="javascript:void(0)" class="twitter"></a></li>
                        <li><a target="_blank" href="javascript:void(0)" class="insta"></a></li>
                        <li class="show-more"><a href="javascript:void(0)" class="more"></a></li>
                      </ul>
                      <div style="display:none;" class="hidden-more-icons">
                        <ul class="follow-icons-more">
                          <li><a class="linkdin" href="javascript:void(0)"> </a> </li>
                          <li><a class="gplus" href="javascript:void(0)"> </a> </li>
                          <li><a class="pini" href="javascript:void(0)"> </a> </li>
                        </ul>
                      </div>
                  </div> <!--/inner forward icons social -->
                  <div style="display: none;" class="write-comment">
                      <span><img class="img-responsive img-circle" src="content/images/timeline/profile-pic-small.png"> </span>
                      <span class="commentbox"><a><input type="text" placeholder="Write a Comment" value="" name=""></a> </span><a href="#"><span class="icomoon icon-reply"></span> </a>
                  </div> <!--/write-comment -->
               </div><!--/category_options-->
            </div> <!--/category-->
          </div> <!--/wall-item -->
        </div> <!--/wall-column -->
        <div class="wall-column">
          <div class="wall-item">
            <div class="category cat_auto">
              <div class="category_img">
               <img src="content/images/category/lifestyle.jpg" class="img-responsive">
               <div class="hover-content-cat">
                    <div class="tab">
                      <div class="tab-in">
                         <div class="cat-zoom-icon"><span class="fa fa-plus"></span> </div>
                         <div class="cat-plus-icon" style="display:none;"> </div>
                         <div class="cat-minus-icon" style="display:none;"><span class="fa fa-minus "></span> </div>
                         <h4>By Gucci </h4>
                         <a href="javascript:void(0)"><button class="follow-brand-btn follow" data-text="Follow brand"><i class="fa fa-check"></i></button></a>
                      </div>  <!--/tab-in -->
                    </div> <!--/tab -->   
                  </div> <!--/hover-content-cat -->
              </div> <!--/category_img-->
              <div class="category_content">
               <div class="relative-struct">
               <h1 class="hea">Auto 
                 <div class="tooltip cat-follow-popup"> 
                  <div class="tab">
                    <div class="tab-cell">
                       <div class="img-part"><span class="icomoon icon-motorbikes2"> </span></div>
                       <div class="follow-con">
                          <img src="content/images/icons/follow-arrow.png" class="arrow">
                          <h1>Auto </h1> 
                          <div class="follow-status"> 
                            <button data-text="Follow category" class="follow-cat-btn normal follow-cat"><i class="fa fa-check"></i></button>
                          </div>
                       </div>
                    </div>
                  </div>
                      
                 </div></h1>
                 </div> <!--/relative-struct -->
               <h2>My Travel Diaries: Spellbinding Beauty Of Indonesian Archipelago Will Leave Your Jaw Dropped! </h2>
              </div> <!--/category_content-->
              <div class="category_options">
                  <table>
                     <tbody>
                      <tr>
                       <td class="date-status"><p>5 days ago </p>  </td> 
                       <td class="crown-sectn "><span class="text">5 </span><span class="icomoon icon-crown"> </span> </td>
                       <td class="comment-sectn"><span class="text">5 </span> <span class="icomoon icon-chat"></span> </td>
                       <td class="fwd-icon-sectn"><span class="text">5 </span><span class="icomoon icon-sharing"></span> </td>
                     </tr>
                    </tbody>
                  </table>
                  <div style="display:none;" class="fwd-social-icons sec7">
                     <ul class="cat-follow-icons">
                        <li><a target="_blank" href="javascript:void(0)" class="fb"></a></li>
                        <li><a href="javascript:void(0)" class="twitter"></a></li>
                        <li><a target="_blank" href="javascript:void(0)" class="insta"></a></li>
                        <li class="show-more"><a href="javascript:void(0)" class="more"></a></li>
                      </ul>
                      <div style="display:none;" class="hidden-more-icons">
                        <ul class="follow-icons-more">
                          <li><a class="linkdin" href="javascript:void(0)"> </a> </li>
                          <li><a class="gplus" href="javascript:void(0)"> </a> </li>
                          <li><a class="pini" href="javascript:void(0)"> </a> </li>
                        </ul>
                      </div>
                  </div> <!--/inner forward icons social -->
                  <div style="display: none;" class="write-comment">
                      <span><img class="img-responsive img-circle" src="content/images/timeline/profile-pic-small.png"> </span>
                      <span class="commentbox"><a><input type="text" placeholder="Write a Comment" value="" name=""></a> </span><a href="#"><span class="icomoon icon-reply"></span> </a>
                  </div> <!--/write-comment -->
               </div><!--/category_options-->
            </div> <!--/category-->
          </div> <!--/wall-item -->
        </div> <!--/wall-column -->

        <div class="wall-column">
          <div class="wall-item">
            <div class="category cat_auto">
              <div class="category_img">
               <img src="content/images/category/auto.jpg" class="img-responsive">
               <div class="hover-content-cat">
                    <div class="tab">
                      <div class="tab-in">
                         <div class="cat-zoom-icon"><span class="fa fa-plus"></span> </div>
                         <div class="cat-plus-icon" style="display:none;"> </div>
                         <div class="cat-minus-icon" style="display:none;"><span class="fa fa-minus "></span> </div>
                         <h4>By Gucci </h4>
                         <a href="javascript:void(0)"><button class="follow-brand-btn follow" data-text="Follow brand"><i class="fa fa-check"></i></button></a>
                      </div>  <!--/tab-in -->
                    </div> <!--/tab -->   
                  </div> <!--/hover-content-cat -->
              </div> <!--/category_img-->
              <div class="category_content">
               <div class="relative-struct">
               <h1 class="hea">Auto
                 <div class="tooltip cat-follow-popup"> 
                  <div class="tab">
                    <div class="tab-cell">
                      <div class="img-part"><span class="icomoon icon-aviations2"> </span></div>
                       <div class="follow-con">
                          <img src="content/images/icons/follow-arrow.png" class="arrow">
                          <h1 class="font-red">Auto </h1> 
                          <div class="follow-status"> 
                            <button data-text="Follow category" class="follow-cat-btn normal follow-cat"><i class="fa fa-check"></i></button>
                          </div>
                       </div>
                    </div>
                  </div>
                      
                 </div></h1> 
               </div>
               <h2>My Travel Diaries: Spellbinding Beauty Of Indonesian Archipelago Will Leave Your Jaw Dropped! </h2>
              </div> <!--/category_content-->
              <div class="category_options">
                  <table>
                     <tbody>
                      <tr>
                       <td class="date-status"><p>5 days ago </p>  </td> 
                       <td class="crown-sectn "><span class="text">5 </span><span class="icomoon icon-crown"> </span> </td>
                       <td class="comment-sectn"><span class="text">5 </span> <span class="icomoon icon-chat"></span> </td>
                       <td class="fwd-icon-sectn"><span class="text">5 </span><span class="icomoon icon-sharing"></span> </td>
                     </tr>
                    </tbody>
                  </table>
                  <div style="display:none;" class="fwd-social-icons sec7">
                     <ul class="cat-follow-icons">
                        <li><a target="_blank" href="javascript:void(0)" class="fb"></a></li>
                        <li><a href="javascript:void(0)" class="twitter"></a></li>
                        <li><a target="_blank" href="javascript:void(0)" class="insta"></a></li>
                        <li class="show-more"><a href="javascript:void(0)" class="more"></a></li>
                      </ul>
                      <div style="display:none;" class="hidden-more-icons">
                        <ul class="follow-icons-more">
                          <li><a class="linkdin" href="javascript:void(0)"> </a> </li>
                          <li><a class="gplus" href="javascript:void(0)"> </a> </li>
                          <li><a class="pini" href="javascript:void(0)"> </a> </li>
                        </ul>
                      </div>
                  </div> <!--/inner forward icons social -->
                  <div style="display: none;" class="write-comment">
                      <span><img class="img-responsive img-circle" src="content/images/timeline/profile-pic-small.png"> </span>
                      <span class="commentbox"><a><input type="text" placeholder="Write a Comment" value="" name=""></a> </span><a href="#"><span class="icomoon icon-reply"></span> </a>
                  </div> <!--/write-comment -->
              </div><!--/category_options-->
            </div> <!--/category-->
          </div> <!--/wall-item -->
        </div> <!--/wall-column -->

        <div class="wall-column">
          <div class="wall-item">
            <div class="category cat_travel">
              <div class="category_img">
                <img src="content/images/category/travel.jpg" class="img-responsive">
                 <div class="hover-content-cat">
                    <div class="tab">
                      <div class="tab-in">
                         <div class="cat-zoom-icon"><span class="fa fa-plus"></span> </div>
                         <div class="cat-plus-icon" style="display:none;"> </div>
                         <div class="cat-minus-icon" style="display:none;"><span class="fa fa-minus "></span> </div>
                         <h4>By Gucci </h4>
                         <a href="javascript:void(0)"><button class="follow-brand-btn follow" data-text="Follow brand"><i class="fa fa-check"></i></button></a>
                      </div>  <!--/tab-in -->
                    </div> <!--/tab -->   
                  </div> <!--/hover-content-cat -->
              </div> <!--/category_img-->
               <div class="category_content">
                 <div class="relative-struct">
                 <h1 class="hea">Travel and Hotels
                  <div class="tooltip cat-follow-popup"> 
                    <div class="tab">
                      <div class="tab-cell">
                        <div class="img-part"><span class="icomoon icon-vacations2"> </span></div>
                       <div class="follow-con">
                          <img src="content/images/icons/follow-arrow.png" class="arrow">
                          <h1>Travel and Hotels </h1> 
                          <div class="follow-status"> 
                            <button data-text="Follow category" class="follow-cat-btn normal follow-cat"><i class="fa fa-check"></i></button>
                          </div>
                       </div>
                      </div>
                    </div>
                       
                 </div></h1> 
                 </div>
                 <h2>My Travel Diaries: Spellbinding Beauty Of Indonesian Archipelago Will Leave Your Jaw Dropped! </h2>
               </div> <!--/category_content-->
               <div class="category_options">
                  <table>
                     <tbody>
                      <tr>
                       <td class="date-status"><p>5 days ago </p>  </td> 
                       <td class="crown-sectn "><span class="text">5 </span><span class="icomoon icon-crown"> </span> </td>
                       <td class="comment-sectn"><span class="text">5 </span> <span class="icomoon icon-chat"></span> </td>
                       <td class="fwd-icon-sectn"><span class="text">5 </span><span class="icomoon icon-sharing"></span> </td>
                     </tr>
                    </tbody>
                  </table>
                  <div style="display:none;" class="fwd-social-icons sec7">
                     <ul class="cat-follow-icons">
                        <li><a target="_blank" href="javascript:void(0)" class="fb"></a></li>
                        <li><a href="javascript:void(0)" class="twitter"></a></li>
                        <li><a target="_blank" href="javascript:void(0)" class="insta"></a></li>
                        <li class="show-more"><a href="javascript:void(0)" class="more"></a></li>
                      </ul>
                      <div style="display:none;" class="hidden-more-icons">
                        <ul class="follow-icons-more">
                          <li><a class="linkdin" href="javascript:void(0)"> </a> </li>
                          <li><a class="gplus" href="javascript:void(0)"> </a> </li>
                          <li><a class="pini" href="javascript:void(0)"> </a> </li>
                        </ul>
                      </div>
                  </div> <!--/inner forward icons social -->
                  <div style="display: none;" class="write-comment">
                      <span><img class="img-responsive img-circle" src="content/images/timeline/profile-pic-small.png"> </span>
                      <span class="commentbox"><a><input type="text" placeholder="Write a Comment" value="" name=""></a> </span><a href="#"><span class="icomoon icon-reply"></span> </a>
                  </div> <!--/write-comment -->
               </div><!--/category_options-->
            </div> <!--/category-->
          </div> <!--/wall-item -->
        </div> <!--/wall-column -->

        <div class="wall-column">
          <div class="wall-item">
            <div class="category cat_fashion">
             <div class="category_img">
               <img src="content/images/category/fashionbig.jpg" class="img-responsive">
               <div class="hover-content-cat">
                    <div class="tab">
                      <div class="tab-in">
                         <div class="cat-zoom-icon"><span class="fa fa-plus"></span> </div>
                         <div class="cat-plus-icon" style="display:none;"> </div>
                         <div class="cat-minus-icon" style="display:none;"><span class="fa fa-minus "></span> </div>
                         <h4>By Gucci </h4>
                         <a href="javascript:void(0)"><button class="follow-brand-btn follow" data-text="Follow brand"><i class="fa fa-check"></i></button></a>
                      </div>  <!--/tab-in -->
                    </div> <!--/tab -->   
                  </div> <!--/hover-content-cat -->
             </div> <!--/category_img-->
             <div class="category_content">
                 <div class="relative-struct">
                 <h1 class="hea">Fashion 
                   <div class="tooltip cat-follow-popup"> 
                    <div class="tab">
                      <div class="tab-cell">
                        <div class="img-part"><span class="icomoon icon-women-fashion2"> </span></div>
                         <div class="follow-con">
                            <img src="content/images/icons/follow-arrow.png" class="arrow">
                            <h1>Fashion </h1> 
                            <div class="follow-status"> 
                              <button data-text="Follow category" class="follow-cat-btn normal follow-cat"><i class="fa fa-check"></i></button>
                            </div>
                         </div>
                      </div>
                    </div>
                         
                   </div> </h1>
                   </div>
                 <h2>My Travel Diaries: Spellbinding Beauty Of Indonesian Archipelago Will Leave Your Jaw Dropped! </h2>
             </div> <!--/category_content-->
             <div class="category_options">
                <table>
                   <tbody>
                    <tr>
                     <td class="date-status"><p>5 days ago </p>  </td> 
                     <td class="crown-sectn "><span class="text">5 </span><span class="icomoon icon-crown"> </span> </td>
                     <td class="comment-sectn"><span class="text">5 </span> <span class="icomoon icon-chat"></span> </td>
                     <td class="fwd-icon-sectn"><span class="text">5 </span><span class="icomoon icon-sharing"></span> </td>
                   </tr>
                  </tbody>
                </table>
                <div style="display:none;" class="fwd-social-icons sec7">
                   <ul class="cat-follow-icons">
                      <li><a target="_blank" href="javascript:void(0)" class="fb"></a></li>
                      <li><a href="javascript:void(0)" class="twitter"></a></li>
                      <li><a target="_blank" href="javascript:void(0)" class="insta"></a></li>
                      <li class="show-more"><a href="javascript:void(0)" class="more"></a></li>
                    </ul>
                    <div style="display:none;" class="hidden-more-icons">
                      <ul class="follow-icons-more">
                        <li><a class="linkdin" href="javascript:void(0)"> </a> </li>
                        <li><a class="gplus" href="javascript:void(0)"> </a> </li>
                        <li><a class="pini" href="javascript:void(0)"> </a> </li>
                      </ul>
                    </div>
                </div> <!--/inner forward icons social -->
                <div style="display: none;" class="write-comment">
                    <span><img class="img-responsive img-circle" src="content/images/timeline/profile-pic-small.png"> </span>
                    <span class="commentbox"><a><input type="text" placeholder="Write a Comment" value="" name=""></a> </span><a href="#"><span class="icomoon icon-reply"></span> </a>
                </div> <!--/write-comment -->
             </div><!--/category_options-->
            </div> <!--/category-->
          </div> <!--/wall-item -->
        </div> <!--/wall-column -->

        <div class="wall-column">
          <div class="wall-item">
            <div class="category cat_tech">
               <div class="category_img">
                 <img src="content/images/category/tech.jpg" class="img-responsive">
                 <div class="hover-content-cat">
                    <div class="tab">
                      <div class="tab-in">
                         <div class="cat-zoom-icon"><span class="fa fa-plus"></span> </div>
                         <div class="cat-plus-icon" style="display:none;"> </div>
                         <div class="cat-minus-icon" style="display:none;"><span class="fa fa-minus "></span> </div>
                         <h4>By Gucci </h4>
                         <<a href="javascript:void(0)"><button class="follow-brand-btn follow" data-text="Follow brand"><i class="fa fa-check"></i></button></a>
                      </div>  <!--/tab-in -->
                    </div> <!--/tab -->   
                  </div> <!--/hover-content-cat -->
               </div> <!--/category_img-->
               <div class="category_content">
                 <div class="relative-struct">
                 <h1 class="hea">Tech 
                   <div class="tooltip cat-follow-popup">
                    <div class="tab">
                      <div class="tab-cell">
                         <div class="img-part"><span class="icomoon icon-mobiles2"> </span></div>
                         <div class="follow-con">
                            <img src="content/images/icons/follow-arrow.png" class="arrow">
                            <h1>Tech </h1> <div class="follow-status"> <a href="#"><button>Follow category</button></a> </div>
                         </div>
                      </div>
                    </div> 
                     
                   </div> 
                 </div></h1>
                 <h2>My Travel Diaries: Spellbinding Beauty Of Indonesian Archipelago Will Leave Your Jaw Dropped! </h2>
               </div> <!--/category_content-->
               <div class="category_options">
                  <table>
                     <tbody>
                      <tr>
                       <td class="date-status"><p>5 days ago </p>  </td> 
                       <td class="crown-sectn "><span class="text">5 </span><span class="icomoon icon-crown"> </span> </td>
                       <td class="comment-sectn"><span class="text">5 </span> <span class="icomoon icon-chat"></span> </td>
                       <td class="fwd-icon-sectn"><span class="text">5 </span><span class="icomoon icon-sharing"></span> </td>
                     </tr>
                    </tbody>
                  </table>
                  <div style="display:none;" class="fwd-social-icons sec7">
                     <ul class="cat-follow-icons">
                        <li><a target="_blank" href="javascript:void(0)" class="fb"></a></li>
                        <li><a href="javascript:void(0)" class="twitter"></a></li>
                        <li><a target="_blank" href="javascript:void(0)" class="insta"></a></li>
                        <li class="show-more"><a href="javascript:void(0)" class="more"></a></li>
                      </ul>
                      <div style="display:none;" class="hidden-more-icons">
                        <ul class="follow-icons-more">
                          <li><a class="linkdin" href="javascript:void(0)"> </a> </li>
                          <li><a class="gplus" href="javascript:void(0)"> </a> </li>
                          <li><a class="pini" href="javascript:void(0)"> </a> </li>
                        </ul>
                      </div>
                  </div> <!--/inner forward icons social -->
                  <div style="display: none;" class="write-comment">
                      <span><img class="img-responsive img-circle" src="content/images/timeline/profile-pic-small.png"> </span>
                      <span class="commentbox"><a><input type="text" placeholder="Write a Comment" value="" name=""></a> </span><a href="#"><span class="icomoon icon-reply"></span> </a>
                  </div> <!--/write-comment -->
               </div><!--/category_options-->
            </div> <!--/category-->
          </div> <!--/wall-item -->
        </div> <!--/wall-column -->

        <div class="wall-column">
          <div class="wall-item">
            <div class="category cat_tech">
               <div class="category_img">
                   <img src="content/images/category/tech.jpg" class="img-responsive">
                   <div class="hover-content-cat">
                    <div class="tab">
                      <div class="tab-in">
                         <div class="cat-zoom-icon"><span class="fa fa-plus"></span> </div>
                         <div class="cat-plus-icon" style="display:none;"> </div>
                         <div class="cat-minus-icon" style="display:none;"><span class="fa fa-minus "></span> </div>
                         <h4>By Gucci </h4>
                         <a href="javascript:void(0)"><button class="follow-brand-btn follow" data-text="Follow brand"><i class="fa fa-check"></i></button></a>
                      </div>  <!--/tab-in -->
                    </div> <!--/tab -->   
                  </div> <!--/hover-content-cat -->
               </div> <!--/category_img-->
               <div class="category_content">
                 <div class="relative-struct">
                 <h1 class="hea">Tech 
                    <div class="tooltip cat-follow-popup"> 
                      <div class="tab">
                        <div class="tab-cell">
                          <div class="img-part"><span class="icomoon icon-laptop2"> </span></div>
                           <div class="follow-con">
                              <img src="content/images/icons/follow-arrow.png" class="arrow">
                              <h1 class="font-purple">Tech </h1> 
                              <div class="follow-status"> 
                                <button data-text="Follow category" class="follow-cat-btn normal follow-cat"><i class="fa fa-check"></i></button>
                              </div>
                           </div>
                        </div>
                      </div>
                           
                     </div>  </h1>
                    </div>
                 <h2>My Travel Diaries: Spellbinding Beauty Of Indonesian Archipelago Will Leave Your Jaw Dropped! </h2>
               </div> <!--/category_content-->
               <div class="category_options">
                  <table>
                     <tbody>
                      <tr>
                       <td class="date-status"><p>5 days ago </p>  </td> 
                       <td class="crown-sectn "><span class="text">5 </span><span class="icomoon icon-crown"> </span> </td>
                       <td class="comment-sectn"><span class="text">5 </span> <span class="icomoon icon-chat"></span> </td>
                       <td class="fwd-icon-sectn"><span class="text">5 </span><span class="icomoon icon-sharing"></span> </td>
                     </tr>
                    </tbody>
                  </table>
                  <div style="display:none;" class="fwd-social-icons sec7">
                     <ul class="cat-follow-icons">
                        <li><a target="_blank" href="javascript:void(0)" class="fb"></a></li>
                        <li><a href="javascript:void(0)" class="twitter"></a></li>
                        <li><a target="_blank" href="javascript:void(0)" class="insta"></a></li>
                        <li class="show-more"><a href="javascript:void(0)" class="more"></a></li>
                      </ul>
                      <div style="display:none;" class="hidden-more-icons">
                        <ul class="follow-icons-more">
                          <li><a class="linkdin" href="javascript:void(0)"> </a> </li>
                          <li><a class="gplus" href="javascript:void(0)"> </a> </li>
                          <li><a class="pini" href="javascript:void(0)"> </a> </li>
                        </ul>
                      </div>
                  </div> <!--/inner forward icons social -->
                  <div style="display: none;" class="write-comment">
                      <span><img class="img-responsive img-circle" src="content/images/timeline/profile-pic-small.png"> </span>
                      <span class="commentbox"><a><input type="text" placeholder="Write a Comment" value="" name=""></a> </span><a href="#"><span class="icomoon icon-reply"></span> </a>
                  </div> <!--/write-comment -->
               </div><!--/category_options-->
            </div> <!--/category-->
          </div> <!--/wall-item -->
        </div> <!--/wall-column -->

        <div class="wall-column">
          <div class="wall-item">
            <div class="category cat_jwellery">
             <div class="category_img">
                 <img src="content/images/category/real-estate.jpg" class="img-responsive">
                 <div class="hover-content-cat">
                    <div class="tab">
                      <div class="tab-in">
                         <div class="cat-zoom-icon"><span class="fa fa-plus"></span> </div>
                         <div class="cat-plus-icon" style="display:none;"> </div>
                         <div class="cat-minus-icon" style="display:none;"><span class="fa fa-minus "></span> </div>
                         <h4>By Gucci </h4>
                         <a href="javascript:void(0)"><button class="follow-brand-btn follow" data-text="Follow brand"><i class="fa fa-check"></i></button></a>
                      </div>  <!--/tab-in -->
                    </div> <!--/tab -->   
                  </div> <!--/hover-content-cat -->
             </div> <!--/category_img-->
             <div class="category_content">
                 <div class="relative-struct">
                 <h1 class="hea">Jwellery 
                    <div class="tooltip cat-follow-popup">
                      <div class="tab">
                        <div class="tab-cell">
                          <div class="img-part"><span class="icomoon icon-jwellery2"> </span></div>
                          <div class="follow-con">
                            <img src="content/images/icons/follow-arrow.png" class="arrow">
                            <h1>Jwellery </h1> 
                            <div class="follow-status"> 
                              <button data-text="Follow category" class="follow-cat-btn normal follow-cat"><i class="fa fa-check"></i></button>
                            </div>
                         </div>
                        </div>
                      </div> 
                         
                   </div> </h1>
                 </div>
                 <h2>My Travel Diaries: Spellbinding Beauty Of Indonesian Archipelago Will Leave Your Jaw Dropped! </h2>
             </div> <!--/category_content-->
             <div class="category_options">
                <table>
                   <tbody>
                    <tr>
                     <td class="date-status"><p>5 days ago </p>  </td> 
                     <td class="crown-sectn "><span class="text">5 </span><span class="icomoon icon-crown"> </span> </td>
                     <td class="comment-sectn"><span class="text">5 </span> <span class="icomoon icon-chat"></span> </td>
                     <td class="fwd-icon-sectn"><span class="text">5 </span><span class="icomoon icon-sharing"></span> </td>
                   </tr>
                  </tbody>
                </table>
                <div style="display:none;" class="fwd-social-icons sec7">
                   <ul class="cat-follow-icons">
                      <li><a target="_blank" href="javascript:void(0)" class="fb"></a></li>
                      <li><a href="javascript:void(0)" class="twitter"></a></li>
                      <li><a target="_blank" href="javascript:void(0)" class="insta"></a></li>
                      <li class="show-more"><a href="javascript:void(0)" class="more"></a></li>
                    </ul>
                    <div style="display:none;" class="hidden-more-icons">
                      <ul class="follow-icons-more">
                        <li><a class="linkdin" href="javascript:void(0)"> </a> </li>
                        <li><a class="gplus" href="javascript:void(0)"> </a> </li>
                        <li><a class="pini" href="javascript:void(0)"> </a> </li>
                      </ul>
                    </div>
                </div> <!--/inner forward icons social -->
                <div style="display: none;" class="write-comment">
                    <span><img class="img-responsive img-circle" src="content/images/timeline/profile-pic-small.png"> </span>
                    <span class="commentbox"><a><input type="text" placeholder="Write a Comment" value="" name=""></a> </span><a href="#"><span class="icomoon icon-reply"></span> </a>
                </div> <!--/write-comment -->
             </div><!--/category_options-->
          </div> <!--/wall-item -->
        </div> <!--/wall-column -->
                      
      </div>   <!--/whats_new_content --> 
    </div> <!--/row-->
  </div> <!--/container-fluid-->
</div> <!--/main_content-->