.inivisible {
    visibility: hidden;
}

.main-slider .slider-sections {
    width: 20%;
    float: left;

}

.goto-top-icon a {
    display: none;
}

.screen-flip-slider .animating .side, .screen-flip-slider .animating .sides {
    display: block;
    clear: both;
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
}

 .progress-buttons li:last-child, .mobile-flip-slider .progress-buttons li:last-child {
    display: none;
}
.thumnails-part {
    max-height: 80px;
    overflow: hidden;
}
.bfload img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.hover-content-cat div {
    z-index: 9999999;
}

.ui.grid > [class*="three column"].row > .column {
    width: 33.33% !important;
    margin: 0 !important;
    padding: 0 !important;
}

.loading-ico {
    background: url(http://rigalio.com/content/images/slider-loader.gif);
    z-index: 9;
    margin: 0 auto;
    background-position: center center;
    background-size: contain;
    visibility: visible;
    background-repeat: no-repeat;
    width: 60px !important;
}

.ui.grid > [class*="three1 column"].row > .column {
    width: 33.1% !important;
    margin: 0 !important;
    padding: 0 !important;
}

.main-slider {
    margin: 0 auto;
    width: 100%;
    display: block;
    clear: both;
    float: none;
    height: 770px;
}

.ui.grid > [class*="four column"].row > .column {
    width: 25% !important;
    margin: 0 !important;
    padding: 0 !important;
}
.ui.grid>.row {
    background: rgba(0, 0, 0, 1);
}
.ui.grid>.row>.column {
        background-image: linear-gradient(to right, rgba(180, 124, 50, 0), rgba(180, 124, 50, 0.25), rgba(180, 124, 50, 0)) !important;
}
.ui.grid > [class*="five column"].row > .column {
    width: 20% !important;
    margin: 0 !important;
    padding: 0 !important;
}

.main-slider .ui {
    margin: 0 auto !important;
    width: 101% !important;
    padding: 0;
    display: block !important;
    float: none;
    clear: both;
    background-color: transparent !important;
}

.subcategory-slider .carousel-indicators {
    bottom: -39px;
}

.subcategory-slider .carousel-inner {
    margin-bottom: 0px;
}
.news-brief-slider .carousel-indicators li {
    height: 7px;
    width: 7px; border-radius: 0px !important;
}
.news-brief-slider .carousel-indicators li.active {
    width: 8px;
    height: 8px;
}
.news-brief-slider .carousel-indicators li,.news-brief-slider .carousel-indicators li.active {
    margin-left: 6px;
    margin-right: 6px;
}
.news-brief-slider .carousel-indicators {
    bottom: -35px;
}
.news-brief-slider .carousel,.news-brief-slider .carousel-inner {
    display: block;
    clear: both;
    height: 100%;
    width: 100%;
    min-height: 270px;
}
#myCarousel .row {
    max-height: 631px;
    overflow: hidden;
}
.news-brief-slider {
    width: 400px;
    display: inline-block;
    float: left;
    margin-right: 20px;
    min-height: 280px;
}
.news-brief  p {
    text-align: justify;
    margin-top: 0px;
}
.banner-hover-con img {
    min-width: inherit;
    width: auto;
    height: auto;
}

.screen-flip-slider .ui.grid > [class*="five1 column"].row > .column {
    width: 19.99% !important;
    margin: 0 !important;
    padding: 0 !important;
}

.ui.grid > [class*="five2 column"].row > .column {
    width: 19.9% !important;
    margin: 0 !important;
    padding: 0 !important;
}

div.ui.people.shape {
    width: 101% !important;
    margin: 0 !important;
    padding: 0 !important;
    clear: both !important;
    display: block !important;
    min-height: 247px;
}

.main-slider .banner-hover-con img {
    display: none;
}

.left-side-img .carousel .item {
    max-height: none;
}

.thumnails-part .item {
    display: inline-block;
}

.ui.grid > [class*="four1 column"].row > .column {
    width: 19.99%;
    margin: 0 !important;
    padding: 0 !important;
}

.main-slider-container {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    display: block;
    clear: both;
    float: none;
    margin-top: 20px;
    margin-bottom: 75px;

}

.shape .side.active.hidden {
    display: block !important;
    visibility: visible !important;
}

.shape {
    width: 100%
}

.main-slider-container {
    margin-top: 75px;
}

.ui.image {
    max-width: 100%;
    width: 100%;
    padding: 0;
}


.main-slider-container .row {
    margin: 0 !important;
    padding: 0 !important;
}

.carousel-indicators {
    bottom: -60px;
    z-index: 9;
}

.hover-content-cat {
    color: white;
    cursor: pointer;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    opacity: 0;
    top: 0;
    margin: 0 auto;
}

.hover-content-cat .tab {
    display: table;
    height: 100%;
}

.hover-content-cat .tab .tab-in, .banner-hover-con .tab .tab-in {
    display: table-cell;
    vertical-align: middle;
}

.banner-hover-con {
    color: white;
    cursor: pointer;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0%;
    width: 100%;
    opacity: 0;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    line-height: 1.5; /* transition: opacity .4s .5s ease; */
}

.banner-hover-con hr {
    width: 30%;
    margin: 0 auto;
    border: 1px solid #fff;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.banner-hover-con span {
    display: block;
    vertical-align: middle;
    width: 100%;
    text-align: center;
}

.category-slider .banner-img1-sectn2 .banner-hover-con, .category-slider .banner-img1-sectn4 .banner-hover-con {
    padding-top: 60%;
}

.category-slider .banner-img1-sectn1 .banner-hover-con {
    padding-top: 25%;
}

.subcategory-slider .banner-img1-sectn1 .banner-hover-con {
    padding-top: 32%;
    z-index: 1;
}

.banner-img1-sectn2 .banner-hover-con, .banner-img1-sectn4 .banner-hover-con {
    padding-top: 60%;
}

.banner-img1-sectn1 .banner-hover-con, .banner-img2-sectn1 .banner-hover-con, .banner-img2-sectn3 .banner-hover-con, .banner-img1-sectn3 .banner-hover-con, .banner-img1-sectn5 .banner-hover-con, .banner-img2-sectn5 .banner-hover-con {
    padding-top: 25%;
}

.carousel-indicators li {
    border-radius: 0px !important;
    background-color: #c3c3c3;
    border: 0 none;
    margin-left: 10px;
    margin-right: 10px;
    height: 10px;
    width: 10px;
    border-radius: 50% !important;
}

.carousel-indicators .active {
    background-color: #b47b33;
    margin-left: 10px;
    margin-right: 10px;
    height: 12px;
    width: 12px;
}
.art-inner-con .copyright,.watch-inner-con .copyright {
    display: block;
    overflow: hidden;
    clear: both;
    margin-top: 10px;
    color: #000 !important;
}
.copyright {
    text-align: right;
    font-family: 'opensans-reg', arial;
    color: #ccc9c9;
    font-size: 11px;
}
.editorial-slider .copyright {
    margin-top: 10px;
    position: absolute;
    width: 100%;
    display: block;
    height: 50px;
    bottom: -56px;
    color: #000;
}
.editorial-slider .image-intro {
    margin-bottom: 40px;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    margin-bottom: 5px;
    height: auto;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

.ui.shape .sides {
    width: 100%;
    display: block !important;
    padding: 0;
    margin: 0;
    clear: both;
}

.progress-buttons li {
    list-style: none;
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #f5f5f5;
    cursor: pointer;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
}

.progress-buttons {
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 18px;
}

.progress-buttons li.active {
    background-color: #987c3a;
    width: 12px;
    height: 12px;
    vertical-align: middle;
}

.category-flip {
    margin-top: 26px;
    margin-bottom: -82px;
}

.ui.grid > [class*="five column"].row > .column {
    margin: 0;
    padding: 0;
    background-color: #000;
}

.ui.grid > [class*="four column"].row > .column {
    margin: 0;
    padding: 0;
    background-color: #000;
}

.ui.grid > [class*="two column"].row > .column {
    width: 50% !important;
    margin: 0;
    padding: 0;
    background-color: #000;
}

.ui.grid > [class*="two1 column"].row > .column {
    width: 49% !important;
    margin: 0;
    padding: 0;
    background-color: #000;
}

.ui.shape.animating .sides {
    position: absolute;
    -webkit-transition: -webkit-transform .6s ease-in-out, left .6s ease-in-out, width .6s ease-in-out, height .6s ease-in-out;
    transition: transform .6s ease-in-out, left .6s ease-in-out, width .6s ease-in-out, height .6s ease-in-out;
    padding: 0;
    margin: 0;
}

.ui.shape.animating .side {
    -webkit-transition: opacity .6s ease-in-out;
    transition: opacity .6s ease-in-out;
    padding: 0;
    margin: 0;
}

.ui.shape:hover .banner-hover-con {
    opacity: 1;
    z-index: 99;
    color: inherit;
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    max-height: 666px;
    background-color: #fff;
    height: auto;
}

.carousel-control.left, .carousel-control.right {
    background: none !important;

}

.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
}
.news-brief-slider .carousel-inner > .item > img {
    position: relative;
    top: auto;
    left: auto;
    min-width: initial;
}
.product-slider .fullwidth .slides-part .carousel-control.left,.editorial-slider .fullwidth .slides-part .carousel-control.left {
    left: -5%;
}

.product-slider .fullwidth .slides-part .carousel-control.right,.editorial-slider .fullwidth .slides-part .carousel-control.right {
    right: -5%;
}

.thumnails-part .item {
}

/* product slider with thumbnails*/
.product-carousel-inner .carousel .item {
    max-height: initial;
    background-color: transparent;
}

.product-carousel-inner .carousel .item img {
    width: 100%;
    position: relative;
    min-width: initial;
}

.thumb-inner {
    display: block;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    clear: both;
}

.product-carousel-inner .thumnails-part .carousel-control.left {
    top: 30%;
    left: -8%;
    display: none;
}

.product-carousel-inner .thumnails-part .carousel-control.right {
    top: 30%;
    right: -8%;
    display: none;
}

.product-carousel-inner .slides-part .carousel-control.left {
    left: -11%;
    top: 50%;
    background: url(../../content/images/icons/slider-left.png) no-repeat !important;
    background-position: top center;
    background-size: contain !important;
}

.product-carousel-inner .slides-part .carousel-control.right {
    right: -11%;
    top: 50%;
    background: url(../../content/images/icons/slider-right.png) no-repeat !important;
    background-position: top center;
    background-size: contain !important;

}

.product-carousel-inner .slides-part .carousel-control {
    width: 30px;
    height: 40px;
}

.product-carousel-inner .thumnails-part span i, .thumbnails-part span i {
    font-size: 50px;
    color: #b8813e;
}

.product-carousel-inner .slides-part span i {
    font-size: 0px !important;
    color: #b8813e;
}

.product-carousel-inner .carousel {
    margin-top: 20px;
}

.product-carousel-inner .carousel .item .thumb {
    width: 75px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    height: 75px;
    float: left;
}

.thumbnails-part .carousel-control.left, .thumbnails-part .carousel-control.right {
    top: 30px;
    font-size: 30px;
}

.product-carousel-inner .carousel .item img {
    width: 100%;
}

.product-carousel-inner {
    margin: 0 auto;
    display: block;
    clear: both;
    float: none;
}

.overlay-bg span {
    height: 100%;
    width: 100%;
    display: table;
    vertical-align: middle;
}

.thumnails-part .overlay-bg {
    background: rgba(0, 0, 0, .5);
    text-align: center;
    opacity: 0;
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
    position: absolute;
    display: none;
    top: 0px;
    width: 100%;
    height: 100%;
}

.thumnails-part .overlay-bg i.fa-plus {
    font-size: 20px;
    margin: 0 auto;
    color: #fff;
    height: 100%;
    width: 100%;
    clear: both;
    display: table-cell;
    vertical-align: middle;
}

.product-slider .fullwidth,.editorial-slider .fullwidth {
    width: 90%;
}

/* product page new slider*/
.slider-navigation {
    text-align: center;
}

.slider-navigation img {
    margin: 0 auto;
}

.list-inline {
    margin: 0 auto;
    text-align: center;
}

.thumbnails-part .list-inline li {
    width: 120px;
    height: 120px;
    padding: 0px;
    cursor: pointer;
    position: relative;
}

.slider-nav-arrow {

    text-align: center;
    margin-bottom: 0px;
    visibility: hidden;
}

.thumbnails-part .overlay-bg {
    background: rgba(0, 0, 0, .5);
    text-align: center;
    padding: 45px 0 66px 0;
    opacity: 0;
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
}

.thumbnails-part .overlay-bg i {
    font-size: 20px;
    color: #fff;
}

.selected .overlay-bg, .thumnails-part .active .overlay-bg, .thumnails-part .item:hover .overlay-bg {
    opacity: 1;
}

/*product page new slider */
/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}

.marketing h2 {
    font-weight: normal;
}

.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}

.left-side-img .carousel-control.left {
    top: 48%;
    left: 0;
    width: 50px;
}

.left-side-img .carousel-control.right {
    top: 48%;
    right: 0;
    width: 50px;
}

.left-side-img .carousel-control {
    font-size: 40px;
    color: #fff;
    opacity: 1;
}

.subcategory-slider {
    margin-top: 25px;
    margin-bottom: 40px;
}
.image-intro {
    padding: 5px;
    background: #e1e1e1;
    width: 100%;
    -webkit-transition: all 0.3s !important;
    -moz-transition: all 0.3s !important;
    transition: all 0.3s !important;
    display: block;
    clear:both;
    overflow: hidden;
    height: 45px;
    vertical-align: middle;
    webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;

}
.expand-slide-img {
    background: url(../../content/images/slider-product/expand-button.png) no-repeat top center;
    width: 20px;
    height: 20px;
    background-size: contain;
    z-index: 2;
    cursor: pointer;
    transition: background 0.2s ease, padding 0.8s linear;
    position: absolute;
    bottom: 12px;
    right: 10px;
}
.editorial-slider .carousel-inner {
    overflow: visible;
}
.image-intro b {
    font-size: 18px;
    padding-right: 10px;
    padding-left: 5px;
    font-family: arial;
}
.image-intro td {
    vertical-align: middle;
    color:#4f4f4f;
    font-family: 'opensans-italic',arial;
    position: relative;
}
.carousel-inner:hover td {
    color:#fff;
}
.image-intro tr {
    height: 35px;
}
.fullwidth .expand-slide-img {
    background: url(../../content/images/slider-product/expand_hover.png) no-repeat top center;
    width: 25px;
    background-size: contain;
    transition: background 0.2s ease, padding 0.8s linear;
}
.image-intro .text-con {
    width: 100%;
}
.image-intro button,.image-intro button:hover {
    color: #fff;
    border: 0 none;
    outline: 0 none;
    padding: 5px;
    font-size: 12px;
    text-transform: capitalize;
    width: 150px;
    margin-right: 47px;
    font-family: 'opensans-reg',arial;
}
.image-intro p {
    text-align: left;
    font-size: 12px;
    line-height: 1.1;
    margin: 0;
    padding-left: 10px;
    padding-right:10px;
}
.product-carousel-inner .carousel:hover .image-intro {
    background: rgba(0,0,0,1);
}
.watch-slider .carousel-inner > .item > img {
    position: relative;
    top: auto;
    left: auto;
    min-width: initial;
}
.watch-slider .carousel .item {
    max-height: initial;
}
.watchsliderthumbcon .selected img {
    opacity:0.4;
}
.watchsliderthumbcon .selected {
    background:rgba(0,0,0,0.9);
    display: block;
}
.watchsliderthumbcon {
    margin-top: 20px;
    clear: both;
    display: block;
}
.watchsliderthumbcon ul li a {
    display: block;
    width: 100%;
    height: 100%;
}
.watchsliderthumbcon .carousel-control.left, .watchsliderthumbcon .carousel-control.right {
    width: 15px;
    height: 15px;
    top: 22px;
}
.watchsliderthumbcon ul li {
    display: inline-block;
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 0;
    width: 10%;
}
#mywatchcarousel {
    margin-bottom: 0px;
}
.img-popupbig {
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */   
}
.img-popupbig .modal-content {
  background-color: transparent;
}
.img-popupbig .modal-content img {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
    margin: auto;
    display: block;
    max-width: 800px;
}
.img-popupbig button.close {    
    position: absolute;
    top: 5%;
    right: 3%;
    z-index: 99;
    opacity: 1;}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}
/* Featurettes
------------------------- */
@media only screen and (min-width: 1600px) {
    .ui.grid > [class*="five column"].row > .column {
        width: 19.9% !important;
    }

    .ui.grid > [class*="four column"].row > .column {
        width: 24.9% !important;
        margin: 0 !important;
        padding: 0 !important;
    }
}

@media only screen and (max-width: 1366px) {
    #myCarousel .row {
        max-height: 443px;
    }
    .img-popupbig .modal-content img {
        max-width: 650px;
    }
    .image-intro button, .image-intro button:hover {
        font-size: 11px;
        width: 110px;
    }
    .watchsliderthumbcon ul li {
        width: 65px;
    }
    .watchsliderthumbcon .carousel-control.left, .watchsliderthumbcon .carousel-control.right {
        width: 10px; height: 10px;
    }
    .news-brief-slider .carousel, .news-brief-slider .carousel-inner {
        min-height: 230px;
    }
    .news-brief-slider {
        width: 300px;
        min-height: auto;
    }
    .thumnails-part {
        max-height: 55px;
    }

    .fullwidth .slides-part .carousel-control.left {
        left: -3%;
    }

    .fullwidth .slides-part .carousel-control.right {
        right: -3%;
    }

    .product-carousel-inner .slides-part .carousel-control {
        width: 20px;
        height: 20px;
    }

    .subcategory-slider .carousel-indicators {
        bottom: -10px;
    }

    .subcategory-slider .main-slider {
        height: 540px;
    }

    .main-slider {
        height: 556px;
    }

    .main-slider-container {
        margin-bottom: 28px;
    }

    .product-carousel-inner .thumnails-part span i, .thumbnails-part span i {
        font-size: 30px;
    }

    .category-flip {
        margin-top: 21px;
    }

    .product-carousel-inner .thumnails-part .carousel-control {
        width: auto;
    }

    .product-carousel-inner .carousel .item .thumb {
        width: 50px;
        height: 50px;
    }

    .subcategory-slider {
        margin-top: 21px;
    }

    .category-flip {
        margin-top: 21px;
        max-height: 520px;
    }

    .screen-flip-slider {
        margin-top: 70px;
        margin-bottom: 28px;
    }

    .subcategory-slider div.ui.people.shape {
        min-height: initial;
    }

    /*.carousel-indicators li {
        height: 5px; width: 5px;
    }*/
    .carousel-indicators .active {
        margin-top: 7px;
    }

    .progress-buttons {
        margin-top: 2px;
    }

    .carousel-indicators li .active, .progress-buttons li, .progress-buttons li.active {
        height: 6px;
        width: 6px;
    }
}
@media only screen and (max-width: 1100px) {
    div.ui.people.shape {
        min-height: 195px;
    }
}
@media only screen and (max-width: 850px) {
    div.ui.people.shape {
        min-height: initial;
    }
    .watchpiccon .carousel-control.left,.watchpiccon .carousel-control.right {
        width: 30px;
        height: 30px;
        top: 40%;
    }
    .watchpiccon .carousel-control.left {
        left: -5%;
    }
    .watchpiccon .carousel-control.right {
        right: -5%;
    }
    .watchpiccon .carousel-control.right img {
        float: right;
    }
    .watchpiccon .watch-slider,.watchpiccon {
        overflow: visible !important;
    }
}

@media only screen and (max-width: 768px) {
    .main-slider .slider-sections {
        width: 25%;
    }
    .img-popupbig .modal-content img {
        max-width: 550px;
    }
    .thumnails-part {
        max-height: 45px;
    }
    .news-brief-slider .carousel-indicators {
        bottom: -22px;
    }
    .brand-news-inner .news-brief  {
        margin-top: 30px;
    }

    .image-intro button, .image-intro button:hover {
        width: 90px;
        margin-right: 33px;
        font-size: 10px;
    }
    .image-intro td.btn-part,.image-intro td.expand-slide-img {
        display: table;
    }

    .expand-slide-img, .fullwidth .expand-slide-img:hover {
        width: 20px;
        height: 20px;
    }

    .product-carousel-inner .carousel .item .thumb {
        width: 40px;
        height: 40px;
    }

    .fullwidth .slides-part .carousel-control.left {
        left: -7%;
    }

    .fullwidth .slides-part .carousel-control.right {
        right: -7%;
    }

    .category-flip .main-slider {
        margin-top: -85px;
    }

    .product-carousel-inner .slides-part .carousel-control {
        height: 25px;
    }

    .hidden-sm4, .hidden-sm5 {
        display: none !important;
    }

    .subcategory-slider .carousel-indicators {
        bottom: -36px;
    }

    .main-slider .hidden-sm4, ..main-slider .hidden-sm5 {
        display: none;
    }

    .hidden-cat-optns ul li {
        width: 33.33%;
    }

    .mobile-flip-slider .ui.grid, .main-slider .ui {
        padding: 0 !important;
    }

    .carousel-indicators li {
        width: 7px;
        height: 7px;
        margin-left: 7px;
        margin-right: 7px;
    }

    .carousel-indicators li.active {
        width: 9px;
        height: 9px;
    }

    .screen-flip-slider {
        margin-top: 69px;
    }

    .ui.grid > .column:not(.row), .ui.grid > .row > .column {
        padding: 0 !important;
    }

    .carousel-indicators {
        bottom: -54px;
    }

    .category-flip, .subcategory-slider {
        margin-top: 20px;
    }

    .subcategory-slider .carousel-inner {
        margin-bottom: 40px;
    }

    .subcategory-slider, .subcategory-slider .main-slider {
        height: auto;
        margin-bottom: 0px;
    }

    .carousel {
        margin-bottom: 20px;
    }

    .product-carousel-inner .slides-part span i {
        font-size: 50px;
    }

    .product-carousel-inner .thumnails-part span i {
        font-size: 30px;
    }

    .product-carousel-inner .slides-part .carousel-control.left {
        left: -6%;
    }

    .product-slider .fullwidth,.editorial-slider .fullwidth {
        width: 100%;
    }

    .product-carousel-inner .slides-part .carousel-control.right {
        right: -6%;
    }

    .thumnails-part .item {
        width: 42px;
    }

    .product-slider,.editorial-slider {
        margin-bottom: 0px;
    }

    .product-carousel-inner .carousel {
        margin-top: 0px;
    }
}

/* RESPONSIVE CSS
-------------------------------------------------- */
/*@media only screen and (max-width: 500px) and (min-width: 350px) {*/
@media only screen and (max-width: 568px) {
    .thumnails-part .overlay-bg i.fa-plus {
        font-size: 11px;
    }
    .watchpiccon .carousel-control.left, .watchpiccon .carousel-control.right {
        width: 10px;
        height: 10px;
    }
    .img-popupbig .modal-content img {
        max-width: 450px;
    }
    .watchpiccon .carousel-control.left {
        left: -7%;
    }
    .watchpiccon .carousel-control.right {
        right: -7%;
    }
    .news-brief-slider .carousel-indicators {
        bottom: -17px;
    }
    .image-intro button, .image-intro button:hover {
        display: block;
        float: none;
        margin:0 auto;
        margin-top: -15px;
        padding: 2px;
    }
    .expand-slide-img, .fullwidth .expand-slide-img:hover, .fullwidth .expand-slide-img {
        width: 15px;
        height: 15px;
        bottom: 16px;
        right: 6px;
    }
    .news-brief-slider {
        margin: 0 auto;
        display: block;
        width: 100%;
    }
    .image-intro button {
        display: block;
        float: none;
        margin:0 auto;
        margin-top: 10px;
    }
    .editorial-slider  .image-intro td.btn-part,.editorial-slider .image-intro tr,.editorial-slider table tbody {
        display: block;
    }
    .editorial-slider .image-intro {
        height: 70px;
    }
    .thumnails-part {
        max-height: 70px;
    }
    .image-intro p {
        font-size: 10px;
    }
    .product-slider .fullwidth,.editorial-slider .fullwidth {
        padding: 0;
    }

    .product-slider .fullwidth .slides-part .carousel-control.left,.editorial-slider .fullwidth .slides-part .carousel-control.left {
        left: -7%;
    }

    .product-slider .fullwidth .slides-part .carousel-control.right,.editorial-slider .fullwidth .slides-part .carousel-control.right {
        right: -9%;
    }

    .thumnails-part .item {
        height: 40px;
        width: 30px;
    }

    .category-flip div.ui.people.shape {
        min-height: 125px;
    }

    .product-carousel-inner .slides-part .carousel-control.left {
        left: -10%;
    }

    .product-carousel-inner .slides-part .carousel-control.right {
        right: -10%;
    }

    .product-carousel-inner .slides-part .carousel-control {
        height: 20px;
    }

    .screen-flip-slider {
        display: none !important;
    }

    div.ui.people.shape {
        min-height: 183px;
    }

    .mobile-flip-slider {
        width: 100%;
        margin-top: 52px;
        margin-bottom: -26px;
        display: block !important;
    }

    .main-slider {
        height: 600px;
    }

    .category-flip {
        max-height: 588px;
    }

    .carousel {
        margin-bottom: 8px;
    }

    .product-carousel-inner .carousel .item .thumb {
        width: 30px;
        height: 30px;
    }

    .thumb-inner {
        max-width: 230px;
        max-height: 43px;
    }

    .mobile-flip-slider .ui.shape .side {
        width: 101% !important;
    }

    .loading-ico {
        width: 35px !important;
    }

    .category-flip .lastone {
        display: block !important;
    }

    .category-flip {
        margin-top: 107px;
    }

    .subcategory-slider {
        margin-top: 21px;
    }

    .product-carousel-inner .thumnails-part .carousel-control {
        top: 0 !important;
    }

    .banner-images {
        max-height: 220px;
        max-width: 240px;
    }

    .banner-hover-con img {
        max-width: 80%;
    }

    .banner-hover-con {
        padding-top: 7% !important;
    }
}
@media only screen and (max-width: 420px) and (min-width: 390px) {
    .mobile-flip-slider {
        margin-bottom: 0px;
    }
}
@media only screen and (max-width: 360px) {
    div.ui.people.shape {
        min-height: initial;
    }
    .img-popupbig .modal-content img {
        max-width: 280px;
    }

}

@media (min-width: 768px) {
    /* Navbar positioning foo */
    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;
    }

    .loading-ico {
        width: 35px !important;
    }

    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }

    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 0px;
    }

    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;

    }
}

@media only screen and (max-width: 500px) and (min-width: 350px) {
    .carousel .item {
        max-height: 1000px;
    }
}
