.error-pg {
	background-color: #f6f6f6;
    padding-bottom: 40px !important;
    overflow: hidden;
    position: relative;
    margin-top: 10px;
    display: block;
    clear: both;
    padding-top: 20px; 
}
.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.row {
    padding: 0px !important;
}
.error-pg-con {
    height: 100%;
    width: 100%;
    float: none;
    display: block;
    clear: both;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}
.tab {
    display: table;
    height: 100%;
    width: 100%;
}
.tab-cell {
    display: table-cell;
    float: none;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}
.error-img {
    margin-top: 10%;
}
.error-pg-con h2 {
	color: #313131;
    font-size: 30px;
    font-family: 'lora-regular', arial;
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;
    margin-top: 20px !important;
    margin-bottom: 10px !important;
}
.error-pg-con img {
    margin: 0 auto;
    margin-top: 5%;
    display: block;
    max-width: 100%;
    height: auto;
}