body {
    padding-top: 50px;
}

nav a {
    font-size: 18px;
}

nav {
    transition: padding .2s;
    position: fixed;
    top: 0;
    height: 100px;
    left: 0;
    width: 100%;
    z-index: 5 !important;
}

.popup {
    z-index: 10;
}
.login-pg #msg2 {
    color:#313131;
}
.fb_iframe_widget span {
    float: none;
}

.signinvia ul li input:focus::-webkit-input-placeholder {
    color: #4c4c4c;
}

.signinvia ul li input:focus:-moz-placeholder {
    color: #4c4c4c;
}

.signinvia ul li input:focus::-moz-placeholder {
    color: #4c4c4c;
}

.signinvia ul li input:focus:-ms-input-placeholder {
    color: #4c4c4c;
}

.header-collapse-btn a {
    display: inline-block;
    overflow: hidden;
    width: 25px;
    height: 45px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 14;
}

.golden-logo {
    width: 200px;
    margin: 0 auto;
    margin-top: 20px;
}

nav {
    z-index: 5 !important;
}

.popup {
    z-index: 10;
}

.header-collapse-btn a span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #b47e36;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.header-collapse-btn {
    position: fixed;
    top: 31px;
    left: 40px;
    padding: 0;
    z-index: 11;
}

.header-collapse-btn a span:nth-child(1) {
    top: 0px;
}

.header-collapse-btn a span:nth-child(2), .header-collapse-btn a span:nth-child(3) {
    top: 8px;
}

.header-collapse-btn a span:nth-child(4) {
    top: 16px;
}

.header-collapse-btn a.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.header-collapse-btn a.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.login-pg .signinvia ul li .textbox-sign, .invite-via-con ul li .textbox-sign {
    background-color: transparent !important;
    color: #313131 !important;
}

.probsign {
    padding: 40px !important;
}
.invite-pg {
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    position: relative;
    margin-top: 70px;
    padding-top: 75px !important;
}
.invite-via-con .start-btn {
    height: 50px;
}
.login-pg {
    margin-top: 75px;
}

.login-pg a:hover {
    text-decoration: none;
}

.login-pg .signin-popup {
    display: block;
    position: relative;
    background-color: transparent;
    z-index: 2;
    margin: 0 auto;
    right: auto;
    left: auto;
    width: 100%;
}

.login-pg .invite-request p.msg2 {
    color:#313131 !important;
}

.login-pg .signin-popup-inner {
    background-image: inherit !important;
}

.login-pg .signin-popup-inner span {
    color: #b1762a;
}

.main-menu ul.main li a {
    padding-left: 0px;
}

.header-collapse-btn a.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#popup .tab-cell {
    position: relative;
}

.header-collapse-btn a.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.pop-foot-menu {
    display: block;
    overflow: hidden;
    position: absolute;
    clear: both;
    bottom: 0px;
    margin: 0 auto;
    left: 41%;
    z-index: 99999;
}

.pop-foot-menu ul li a {
    color: #fff;
    font-size: 12px;
}

.pop-foot-menu ul li {
    display: inline-block;
    list-style: none;
    margin-left: 3px;
    margin-right: 3px;
    text-transform: capitalize;
    cursor: pointer;
}

.main-social-sectn span {
    font-size: 30px;
    color: #b47c32;
}

.main-social-sectn span:hover {
    color: #774e1a;
    transition: all 0.5s ease;
}

.main-menu {
    width: 80%;
    margin: 0 auto;
    display: block;
    /*overflow: hidden;*/
}

.main-menu ul.main {
    float: left;
    height: 100%;
    width: 50%;
    padding-top: 9%;
    padding-bottom: 9%;
    position: relative;
}

.navbar-right .pg-img {
    background-size: cover !important;
    height: 100%;
    width: 100%;
    display: block;
    border-radius: 50%;
}

.main-menu ul.main li {
    width: 100%;
    padding-left: 18%;
    z-index: 99999999;
    clear: both;
    /*position: relative;*/
}

#alert-msg {
    background-color: #f5f5f5;
    color: #000;
    z-index: 999;
    top: 65px;
    position: fixed;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    width: 80%;
    left: 10%;
    text-align: center;
    font-family: 'opensans-reg', arial;
    border-bottom: 2px solid #987c3a;
}

.main-logo a {
    display: inline-block;
    width: auto;
    overflow: hidden;
}

.navbar-right ul li a {
    width: 100%;
    height: 100%;
    background-size: cover !important;
    background-repeat: no-repeat;
    display: block;
}

.navbar-right ul li a.search-icon {
    background: url(../../content/images/icons/search-icon.png);
}

.navbar-right ul li a.search-icon:hover {
    background: url(../../content/images/icons/search-icon-hover.png);
}

.navbar-right ul li a.userhome:hover {
    background: url(../../content/images/icons/home-hover.png);
}

.navbar-right ul li a.userhome {
    background: url(../../content/images/icons/home.png);
}

.navbar-right ul li a.settings-popup-btn, .signin-popup-btn {
    background: url(../../content/images/icons/user.png);
}

.navbar-right ul li a.settings-popup-btn:hover, .signin-popup-btn:hover {
    background: url(../../content/images/icons/user-hover.png);
}

.navbar-right .signin-popup-btn img, .navbar-right .settings-popup-btn img {
    border-radius: 50%;
    max-width: 40px;
}

nav .navbar-toggle {
    margin: 13px 15px 13px 0;
}

span.text-content span, .tab-cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.tab-cell {
    display: table-cell;
    float: none;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

.popup-inner, .signin-popup-inner, .settings-inner {
    background-image: linear-gradient(to right, rgba(180, 124, 50, 0), rgba(180, 124, 50, 0.25), rgba(180, 124, 50, 0)) !important;
}

.gotocat button {
    background-color: #b47c32;
    border: 0 none;
    margin: 0 auto;
    margin-top: 20px;
    width: 100px;
    height: 30px;
    text-transform: uppercase;
    font-size: 11px;
    /* margin-left: 62%; */
    position: absolute;
    right: 8%;
    color: #fff;
    left: 46%;
    outline: 0 none;
    font-family: 'opensans-reg', arial;
}

.gotocat button:hover {
    background-color: #774e1a;
}

.tab {
    display: table;
    height: 100%;
    width: 100%;
}

.main-menu .submenu li div {
    text-align: left;
    float: left;
    color: #fff;
    font-size: 12px;
    vertical-align: middle;
    padding-top: 3%;
}

.banner-hover-con h4 {
    padding-left: 10%;
    padding-right: 10%;
}

ul.submenu li {
    display: inline-block;
    cursor: pointer;
    margin-bottom: -6px !important;
}

.main-menu ul.main li.active ul.submenu {
    opacity: 1;
    transition: all .2s ease-in-out .2s;
    margin: 0 auto;
    float: none;
    text-align: center;
    right: -140%;
    top: 0;
    padding-top: 0;
}

.navbar-right ul {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    float: right;
    margin-right: 15px;
}

.navbar-right ul li {
    text-align: center;
    display: inline-block;
    list-style: none;
    margin-left: 5px;
    margin-right: 5px;
    height: 30px;
    width: 30px;
}

.navbar-brand {
    font-size: 30px;
}

/* sign in header styling*/
.signinvia ul {
    margin: 0 auto;
    max-width: 408px;
    min-width: 250px;
    padding: 0;
    float: none;
}

.mySelect {
    padding: .2em 0;
    font-size: 1em;
    right: 0;
}

.register-fb, .linkedin-log {
    position: absolute;
    top: 8px;
    width: 100%;
}

.invite-request ul {
    max-width: 300px;
}

.invite-request ul li {
    width: 100%;
    height: 50px;
    margin: 0 auto;
    float: none;
    display: block;
    max-width: 400px;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 20px;
    outline: 0 none;
    position: relative;
}

.linkedin-log span {
    width: 250px !important;
    opacity: 0;
}

.signinvia ul li.sep {
    height: auto;
}

.myprofile {
    color: #fff;
}

.myprofile h5 a {
    color: inherit;
    text-decoration: none;
}

.myprofile span.pf-img {
    display: block;
    height: 300px;
    margin: 0 auto;
    width: 300px;
    background-size: cover !important;
    background-position: center center !important;
    border-radius: 50%;
}

.signin-popup a.close {
    right: 0 !important;
    left: initial;
}

.myprofile img {
    margin-bottom: 20px;
    border-radius: 50%;
    max-width: 200px;
    margin: 0 auto;
}

.signin-popup {
}

.signinvia ul li .textbox-sign, .myprofile ul li, .signinvia ul li.register-fb, .signinvia ul li.linkedin-log, .invite-via-con ul li .textbox-sign {
    margin-bottom: 20px;
    border: 1px solid #b47c32;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    font-size: 13px;
    font-family: 'opensans-light', arial;
    /*font-family: 'lora-regular', arial;*/
    height: 46px;
    letter-spacing: 2px;
    color: #fff;
    outline: 0 none;
}

.invite-via-con ul li .textbox-sign {
    width: 90%;
    max-width: 400px;
}

.signinvia ul li.linkedin-log span {
    width: 100% !important;
    display: block !important;
    vertical-align: middle !important;
    margin: 0 auto;
    height: 100%;
    min-width: 300px;
    opacity: 0;
}

.fb_iframe_widget {
    opacity: 0;
}

.signin-popup-inner .follow-cat-btn {
    color: #b47c32;
}

.signin-popup-inner span {
    color: #fff;
    font-size: 12px;
    cursor: pointer;
}

.signin-popup-inner span.or-brk {
    float: none;
    margin: 0 auto;
    margin-bottom: 20px;
    display: block;
    margin-top: 10px;
}

.signin-popup-inner .continue-btn {
    width: 250px;
    height: 42px;
    border-radius: 0px;
    text-align: center;
    border: 0 none;
    text-transform: uppercase;
    color: #fff;
    font-family: 'opensans-reg', arial;
    background-color: #b1762a;
    margin-bottom: 10px;
    font-size: 12px;
    margin-top: 50px;
}

.signin-popup-inner .start-btn {
    margin-left: 10px;
    display: inline-block;
    font-size: 13px;
    margin-top: 0px;
    height: 48px;
}

.signin-popup-inner .start-btn:hover, .signin-popup-inner .continue-btn:hover {
    background-color: #774e1a;
}

.signinvia ul li, .myprofile ul li, .invite-via-con ul li {
    list-style: none;
}

.signin-popup hr, .settings-con hr {
    border: 0;
    height: 2px;
    margin-bottom: 40px;
    /*background-image:linear-gradient(to right,rgba(180,124,50,0),rgba(180,124,50,0.75),rgba(180,124,50,0));*/
    background-color: #b47c32;
    width: 60%;
}

.myprofile ul li {
    border-radius: 0px;
    color: #b47c32;
    font-family: 'lora-regular', arial;
    padding: 16px;
}

.myprofile ul a {
    text-decoration: none;
    color: inherit;
}

.myprofile ul .accont-btn li {
    width: 56%;
    display: inline-block;
    margin-right: 3%;
    text-transform: uppercase;
    height: 50px;
}

.myprofile ul .logout-btn li {
    width: 40%;
    display: inline-block;
    text-transform: uppercase;
    height: 50px;
}

.myprofile ul {
    margin: 0 auto;
    padding: 0;
    float: none;
}

.signinvia h3, .settings-con h3, .invite-via-con form label {
    color: #b47c32;
    font-size: 20px;
    text-align: center;
    font-family: 'lora-regular', arial;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.signinvia h3, .invite-via-con form label {
    font-weight: normal !important;
    margin-top: 20px !important;
    font-family: 'opensans-reg', arial !important;
}

.notification-con ul {
    margin: 0;
    padding: 0;
    margin-top: 50px !important;
}

.notification-con ul li, .notify-inner ul li {
    margin-bottom: 10px;
    list-style: none;
    border-bottom: 1px solid #d4d4d4;
    padding-bottom: 0px;
}

.notification-con ul li {
    border-bottom: 1px solid #141412;
}

.notification-con ul li a, .notification-con ul li a div, .notify-inner ul li, .notify-inner ul li.timespan {
    text-decoration: none;
    color: #696969;
    font-family: "opensans-light", arial;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
}

.notify-inner ul li {
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.notification-con ul li:last-child, .notify-inner ul li:last-child {
    border: 0 none;
}

.notify-inner ul li span {
    text-align: right;
    padding-right: 10px;
    font-size: 20px;
    float: right;
}

.signinvia h3 a {
    color: inherit;
    text-decoration: underline;
}

.signinvia ul li a {
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    text-align: left !important;
    padding-left: 0px;
    margin-left: 0px;
    font-family: 'lora-regular', arial;
}

.signinvia ul li a:hover {
    text-decoration: none;
}

.signinvia ul li span {
    width: 30px;
    float: left;
}

.dropdown-menu {
    background-color: transparent;
    box-shadow: none;
    width: 100%;
    border-radius: 0px;
    border: 0 none;
    transition: padding .5s;
    opacity: 0;
    display: block;
}

nav .shrink {
    max-height: 50px;
}

.shrink .main-logo img {
    max-width: 35%;
}

nav.smaller {
    height: 75px;
    transition: padding .2s;
}

nav.smaller .main-logo img {
    max-width: 200px;
    transition: padding .2s;
}

nav.smaller .dropdown-search {
    top: 75px;
    transition: all ease-in-out 0.3s;
}

header.smaller nav a {
    line-height: 75px;
}

.main-logo {
    text-align: center;
    padding-top: 17px;
}

.navbar-inverse {
    background-color: #f5f5f5 !important;
    border-bottom: 1px solid #cfcfcf;
    height: 75px;
}

.search-collapse-btn {
    float: right;
    text-align: right;
}

.drop-search-wrap a.search-icon {
    transition: all 0.3s ease 0s;
    display: inline-block;
    padding: 0 !important;
    font-size: 20px;
    color: #86969C;
}

.dropdown-search {
    width: 100% !important;
    height: 65px;
    background-color: #b47c32;
    position: fixed;
    top: 75px;
    z-index: 999;
}

.form-control:focus {
    border: 0 none;
    box-shadow: none;
}

#searchform {
    margin: 0px;
    padding: 0px;
    transition: all 1s ease 0s;
}

.dropdown-search #searchform .search-field {
    width: 100% !important;
    border: 0 none;
    height: 100%;
    margin: 0;
    background-color: #b47c32;
    color: #fff;
    padding: 0;
    border-radius: 0px;
    transition: all 1s ease 0s;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    text-align: center;
    font-size: 18px;
}

.dropdown-search #searchform .search-field::-webkit-input-placeholder {
    color: #fff;
}

.dropdown-search #searchform .search-field:-moz-placeholder { /* Firefox 18- */
    color: #fff;
}

.dropdown-search #searchform .search-field::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
}

.dropdown-search #searchform .search-field:-ms-input-placeholder {
    color: #fff;
}

input[type="text"].search-field::-webkit-input-placeholder {
    color: #fff;
}

input[type="text"].search-field:-moz-placeholder {
    color: #fff;
}

input[type="text"].search-field::-moz-placeholder {
    color: #fff;
}

input[type="text"].search-field:-ms-input-placeholder {
    color: #fff;
}

.main-menu .submenu li a {
    font-size: 60px;
    color: #fff !important;
    padding: 0;
}

hr.line-hori {
    border: 0;
    height: 50%;
    margin-bottom: 40px;
    width: 1px;
    position: absolute;
    left: 50%;
    top: 20%;
    background-color: #b47c32;
    /* background-image: linear-gradient(to bottom,rgba(180,124,50,0),rgba(180,124,50,0.75),rgba(180,124,50,0));*/
}

.main-menu ul li:hover .btn, .main-menu ul li.active .btn {
    color: #b47c32;
    outline: 0 none;
}

.main-menu .submenu li a:hover {
    color: #b47c32;
}

.submenu li a span {
    float: left;
    margin-bottom: 20px;
    margin-left: 40%;
    width: 80px;
    font-size: 50px;
}

nav .drop-search-wrap, .navbar-right {
    text-align: right;
    padding-top: 19px;
}

.cat-expand-icons ul li {
    height: 81px;
    width: 71px;
}

.main-social-sectn ul, .cat-expand-icons ul {
    margin: 0 auto;
    display: block;
    text-align: center;
    padding: 0;
}

.main-social-sectn ul li {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

.cat-expand-icons ul li {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

.popup {
    left: 0px;
    margin: 0px auto;
    position: fixed;
    top: 0;
    display: none;
    z-index: 10;
    width: 100%;
    height: 100%;
    transition: opacity 500ms ease 0s;
    background: rgba(0, 0, 0, 1);
}

.myprofile h4, .notification-con h4 {
    font-family: "opensans-light", arial;
    font-size: 29px;
    margin-top: 30px;
    text-transform: capitalize;
    text-align: center;
    color: #fff;
}

.myprofile h5 {
    color: #b47c32;
    font-family: "opensans-light", arial;
    font-size: 18px;
    text-align: center;
    text-transform: lowercase;
}

.signin-popup, .settings-popup {
    right: 0px;
    margin: 0px auto;
    position: fixed;
    top: 0;
    display: none;
    z-index: 999999;
    width: 100%;
    height: 100%;
    transition: opacity 500ms ease 0s;
    background: rgba(0, 0, 0, 1);
}

.popup-inner, .signin-popup-inner, .comments-pop-inner, .img-comments-inner {
    background: transparent;
    display: block;
    margin: 0px auto;
    padding: 40px;
    position: relative;
    width: 95%;
    height: 100%;
}

.settings-inner {
    width: 100%;
    height: 100%;
}

.notification-con ul li a div {
    clear: both;
    display: block;
    margin-left: 45px;
    width: 100%;
}

.notification-con span.user-img {
    border-radius: 50%;
    display: inline;
    float: left;
    height: 35px;
    margin-left: 20px;
    margin-right: 10px;
    padding-top: 15px;
    vertical-align: middle;
    width: 35px;
}

.notification-con span.text {
    display: inline;
    float: left;
    line-height: 1.5;
    width: auto;
}

.notification-con {
    height: 100%;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    border-left: 1px solid #b47c32;
}

.overlay {
    z-index: 1000;
    background: rgba(0, 0, 0, .8);
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;

}

.popup a.close, .settings-popup a.close, .signin-popup-inner a.close {
    background: url("../../content/images/icons/close-btn-gold.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    width: 20px;
    height: 20px;
    background-size: cover;
    z-index: 99;
}

a.close {
    background: url("../../content/images/icons/close_circle.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    height: 42px;
    opacity: 1;
    position: absolute;
    left: 0px;
    text-indent: -2500px;
    top: 20px;
    width: 42px;
    background-size: cover;
}

.main-menu ul.main .indicator {
    display: none;
}

.main-menu ul.main li.active .indicator {
    display: none !important;
    width: 30px;
    height: 30px;
    position: absolute;
    right: -30px;
    z-index: 9;
    top: 3px;
    opacity: 1;
}

a.close:hover, a.close:focus {
    opacity: 1;
}

.main-menu ul li a {
    color: #fff;
    font-size: 15px;
    font-family: 'opensans-reg', arial;
    text-align: center;
    text-decoration: none;
    z-index: 999;
    letter-spacing: 2px;
    text-transform: uppercase;
    clear: both;
    display: block;
    overflow: hidden;
    text-align: left;
}

.main-menu ul.main li.active a, .main-menu ul.main li.active a:active, .main-menu ul.main li.active a:focus, ul.main li.active .btn {
    color: #b47c32;
    background-color: transparent;
}

.main-menu .submenu li a:hover, .main-menu .submenu li a:hover div {
    color: #b47c32 !important;
}

.main-menu ul li {
    list-style-type: none;
    text-align: left;
    margin: 0 auto;
    float: none;
    margin-bottom: 25px;
}

.main-menu ul.main {
    position: relative;
    margin-top: -10% !important;
}

.main-logo img {
    margin: 0 auto;
    max-width: 200px;
}

.main-social-sectn {
    width: 100%;
    clear: both;
    /* padding-top: 15%; */
    bottom: 5%;
    position: absolute;
    left: 0;
    z-index: 99999;
}

nav.smaller .header-collapse-btn, nav.smaller .drop-search-wrap, .navbar-right {
    padding-top: 25px;
    transition: padding .2s;
}

.settings-popup a.close {
    right: 40px;
    left: auto;
    z-index: 11;
    width: 20px;
    height: 20px;
    top: 27px;
}

.notification-con .view-all-btn, .notify-inner .view-all-btn {
    background-color: transparent;
    margin: 0 auto;
    display: block;
    width: 100px;
    outline: 0;
    border: 0 none;
    text-transform: capitalize;
    font-size: 18px;
    color: #fff;
}

.notify-inner .view-all-btn {
    color: #464646;
}

@media only screen and (min-device-width: 2500px) {
    .main-menu ul.main li {
        padding-left: 0px;
    }
}

@media only screen and (max-device-width: 1400px) {
    .navbar-inverse {
        max-height: 70px;
    }
    .main-menu ul.main li {
        padding-left: 16%;
    }

    .invite-request ul li {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 20px;
        width: 250px;
        height: 45px;
    }
    .invite-btns {
        height: 45px;
        width: 250px;
    }

    .pop-foot-menu {
        left: 37%;
    }

    .pop-foot-menu ul li {
        font-size: 11px;
    }

    .signinvia ul li.linkedin-log span {
        min-width: 250px;
    }

    .signinvia ul li .textbox-sign, .invite-via-con ul li .textbox-sign {
        font-size: 11px;
    }

    .golden-logo {
        width: 120px;
    }

    .main-social-sectn ul li {
        margin-left: 3px !important;
        margin-right: 3px !important;
    }

    hr.line-hori {
        top: 29%;
        height: 33%;
    }

    .main-menu ul.main li {
        padding-left: 9%;
        display: block;
        overflow: hidden;
    }

    .main-menu .submenu li div {
        font-size: 12px;
        padding-top: 3%;
    }

    .main-menu ul li {
        margin-bottom: 18px;
    }

    .myprofile span.pf-img {
        height: 200px;
        width: 200px;
    }

    .myprofile ul li {
        padding: 8px;
        height: 36px;
    }

    .myprofile ul .accont-btn li, .myprofile ul .logout-btn li {
        height: 36px;
    }

    .myprofile h4, .notification-con h4 {
        font-size: 22px;
        margin-top: 12px;
    }

    .dropdown-search {
        height: 50px;
    }

    .dropdown-search #searchform .search-field {
        padding-top: 5px;
    }

    .myprofile h4 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .myprofile h4, .notification-con h4 {
        font-size: 18px;
    }

    .myprofile span.pf-img {
        width: 150px;
        height: 150px;
    }

    .settings-popup-btn span.pg-img, .navbar-right ul li {
        height: 22px;
        width: 22px;
    }

    .navbar-right ul li {
        margin-left: 2px;
        margin-right: 2px;
    }

    nav .drop-search-wrap, .navbar-right {
        padding-top: 24px;
    }

    .myprofile ul li {
        padding: 9px;
        height: 35px;
    }

    .signinvia ul li .textbox-sign, .signin-popup-inner .start-btn, .signin-popup-inner .continue-btn, .invite-via-con ul li .textbox-sign {
        height: 40px;
    }

    .signin-popup-inner .continue-btn {
        margin-top: 30px;
    }

    .myprofile ul .logout-btn li {
        height: 35px;
    }

    nav.smaller #alert-msg {
        top: 70px;
    }

    #alert-msg {
        top: 60px;
        font-size: 12px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    a.close {
        width: 30px;
        height: 30px;
    }

    ul.submenu li {
        width: 52px;
    }

    .main-menu .submenu li a {
        font-size: 40px;
    }

    .main-menu ul.main li.active .indicator {
        display: block;
        width: 20px;
        height: 20px;
        right: -20px;
    }

    .main-social-sectn span {
        font-size: 25px;
    }

    .search-icon img {
        max-width: 80%;
        margin-top: 6px;
    }

    .gotocat button {
        left: 16%;
    }

    .navbar-right .signin-popup-btn img, .navbar-right .settings-popup-btn img {
        border-radius: 50%;
        max-width: 25px;
    }

    .submenu li a span {
        margin-left: 33%;
        width: 60px;
        font-size: 45px;
    }

    .myprofile ul .accont-btn li {
        margin-right: 1%;
        height: 35px;
    }

    .signinvia, .settings-con {
        padding-top: 5%;
    }

    .myprofile img {
        max-width: 150px;
    }

    .main-logo img {
        max-width: 200px;
    }

    .header-collapse-btn img {
        max-width: 4px;
    }

    .main-menu ul li a {
        font-size: 13px;
    }

    .dropdown-search {
        top: 70px !important;
        height: 40px;
    }

    .dropdown-search #searchform .search-field {
        padding-top: 0px;
        height: 40px;
        font-size: 12px;
    }

    .contact-pg-con h4 {
        font-size: 16px;
    }

    .assistance-img img {
        max-width: 21%;
    }

}

@media only screen  and (max-width: 1280px) {
    .main-menu ul.main li {
        padding-left: 10%;
    }
}

@media only screen  and (max-width: 1024px) and (min-width: 768px) {
    .submenu li a span {
        margin-left: 34%;
        font-size: 42px;
    }

    .submenu li a span {
        margin-left: 34%;
        font-size: 42px;
    }

    div.ui.people.shape {
        min-height: 180px;
    }

    .main-menu {
        width: 95%;
    }

    div.ui.people.shape {
        min-height: 198px;
    }
}

@media only screen and (max-device-width: 768px) {
    .header-collapse-btn {
        left: 20px;
    }

    .register-fb, .linkedin-log {
        top: 0px;
    }

    .signin-popup hr, .settings-con hr {
        height: 1px;
    }

    .main-menu ul.main li.active ul.submenu {
        margin: 0 auto;
        float: none;
        text-align: center;
        right: -140%;
        top: 0;
        padding-top: 0;
    }

    .submenu li a span {
        width: 60px;
    }

    .gotocat button {
        right: 15%;
        clear: both;
        display: block;
        overflow: hidden;
    }

    .main-menu ul.main li.active .indicator {
        width: 15px;
        height: 15px;
        right: -15px;
        position: relative;
        float: right;
    }

    hr.line-hori {
        height: 30%;
        top: 31%;
    }

    .main-menu ul.main li {
        padding-left: 0%;
    }

    .submenu li a span {
        margin-left: 20%;
        font-size: 40px;
    }

    .main-menu {
        width: 100%;
    }

    .main-menu ul.main li.active ul.submenu {
        right: -193%;
    }

    nav.smaller #alert-msg {
        top: 60px;
    }

    #alert-msg {
        font-size: 12px;
        padding-top: 14px;
        padding-bottom: 14px;
        top: 61px;
        width: 80%;
        left: 10%;
    }

    .main-social-sectn {
        margin-top: 50px;
    }

    .navbar-right {
        padding-left: 0px;
    }
}

@media only screen and (max-width: 568px) {
    .invite-request ul li {
        width: 100%;
        margin: 0 auto;
    }
    .via-fb-con {
        height: 100px !important;
    }
    .invite-via-con:before {
        width: 0px;
    }
    .invite-btns span {
        padding-left: 15px !important;
    }

    .signinvia h3 {
        margin-top: 10px !important;
    }

    .signinvia ul li.sep {
        margin-top: 20px;
    }

    .signinvia ul li.linkedin-log span {
        min-width: 200px;
    }

    .main-menu {
        width: 100%;
    }

    .signinvia .golden-logo {
        display: none;
    }

    .signin-popup a.close {
        right: 7px !important;
    }

    .main-menu ul li a {
        letter-spacing: 1px;
        font-size: 13px;
    }

    .profile-descriptn {
        margin: 0 auto;
        float: none;
    }

    .collection-inner .collection-tagline h3 {
        padding-left: 0px;
    }

    .collection-inner {
        margin-top: 50px;
    }

    .profile-blocks .collection-tagline {
        padding-bottom: 0px;
        margin-bottom: 30px;
    }

    .profile-blocks .collection-tagline h3 {
        display: block;
        overflow: hidden;
        clear: both;
        margin-top: 26px;
        padding: 0;
    }

    .collection-tagline {
        margin-bottom: 20px;
    }

    .settings-popup a.close {
        right: 10px;
        height: 15px;
        width: 15px;
    }

    .golden-logo {
        width: 100px;
    }

    .header-collapse-btn a span:nth-child(4) {
        top: 12px;
    }

    .header-collapse-btn a span:nth-child(2), .header-collapse-btn a span:nth-child(3) {
        top: 6px;
    }

    .signin-popup-inner span {
        margin-bottom: 10px;
        clear: both;
        display: block;
    }

    .header-collapse-btn {
        left: 20px;
    }

    .header-collapse-btn a {
        width: 17px;
        height: 17px;
    }

    .submenu li a span {
        width: 40px;
        font-size: 35px;
    }

    .main-menu ul.main {
        width: 75%;
    }

    .main-menu ul.main li.active .indicator {
        width: 10px;
        height: 10px;
        right: -7px;
    }

    .main-menu .submenu li a {
        font-size: 30px;
    }

    .gotocat button {
        width: 129px;
        font-size: 11px;
        height: 31px;
    }

    .main-menu ul.main li {
        padding-left: 20px;
    }

    .main-social-sectn {
        padding-top: 28%;
    }

    hr.line-hori {
        height: 31%;
        top: 32%;
        left: 72%;
    }

    .main-menu ul.main li.active ul.submenu {
        right: -100%;
        max-width: 70px;
    }

    .submenu li a span {
        margin-bottom: 10px;
    }

    .gotocat button {
        width: 69px;
        font-size: 9px;
        height: 26px;
        right: 0;
        left: auto;
        bottom: -25px;
    }

    .main-menu {
        overflow: visible;
    }

    .main-menu ul.main {
        border: 0 none;
    }

    .main-menu .submenu li a {
        font-size: 35px;
    }

    .main-social-sectn span {
        font-size: 20px;
    }

    .main-menu ul li {
        margin-bottom: 0px !important;
    }

    .submenu li a span {
        margin-left: 0px;
        float: right;
    }

    .main-menu .submenu li div {
        display: none;
    }

    .popup-inner {
        padding: 0;
    }

    #alert-msg {
        width: 100%;
        left: 0%;
    }

    .signinvia ul li .textbox-sign, .invite-via-con ul li .textbox-sign {
        height: 35px;
        margin-bottom: 10px;
    }

}

@media only screen and (max-width: 450px) {
    .main-logo img, nav.smaller .main-logo img {
        max-width: 165px !important;
        padding-top: 7px;
    }

    .main-menu ul.main li {
        padding-left: 0px;
        width: 88%;
    }

    hr.line-hori {
        left: 72%;
        height: 250px;
        top: 22%;
    }

}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px)and (-webkit-min-device-pixel-ratio: 2) {
    .main-menu ul li a {
        font-size: 11px;
    }

    .myprofile ul li.profile-link {
        display: none;
    }

    .main-menu ul li a {
        font-size: 11px;
    }
}

@media only screen and (max-width: 500px) and (min-width: 350px) {
    .main-logo {
        padding-top: 10px;
        width: 20%;
    }

    .privacy-text p {
        margin-bottom: 0px;
    }

    .privacy-pg-con .content_headline hr {
        margin-bottom: 0px;
    }

    .main-logo img, nav.smaller .main-logo img {
        max-width: 152px !important;
        padding-top: 10px;
    }

    .drop-search-wrap {
        padding-top: 10px !important;
        padding-right: 0% !important;
    }

    .navbar-right ul li {

        margin-left: 2px;
        margin-right: 2px;
    }

    .settings-popup-btn span.pg-img {
        width: 20px;
        height: 20px;
    }

    .navbar-right img {
        max-width: 80%;
    }

    .navbar-right ul, .navbar-right {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 14px;
        margin-right: 7px;
        float: right;
    }

    .myprofile ul li {
        font-size: 11px;
    }

    .invite-request ul li {
        width: 100%;
        margin: 0 auto;
    }

    .signinvia ul li .textbox-sign, .invite-via-con ul li .textbox-sign {
        height: 35px;
    }
}

@media only screen and (max-width: 325px) {
    nav div:first-child {
        width: 22%;
    }

    .navbar-right ul {
        margin-right: 6px;
        margin-top: 5px;
    }

    nav .navbar-right {
        width: 27%;
        padding-right: 0px;
        padding-left: 0px;
    }
    .navbar-right ul li {
        margin-left: 3px;
        margin-right: 3px;
    }
    .mobile-flip-slider {
        margin-bottom: -100px;
    }
    .main-logo img, nav.smaller .main-logo img {
        max-width: 130px !important;
    }
}
@media only screen and (max-width: 320px) and (min-width: 170px) {
    .navbar-right ul li {
        width: 25px;
        height: 25px;
    }
    nav .drop-search-wrap, .navbar-right {
        padding-top: 24px;
    }
}