@font-face {
    font-family: 'opensans-light';
    src: url('../../fonts/OpenSans-Light.ttf') format('truetype');
    src: local('?'),
    url('../../fonts/OpenSans-Light.otf') format('opentype'),
    url('../../fonts/OpenSans-Light.woff') format('woff'),
    url('../../fonts/OpenSans-Light.svg') format('svg');
}

@font-face {
    font-family: 'opensans-reg';
    src: url('../../fonts/OpenSans-Regular.ttf') format('truetype');
    src: local('?'),
    url('../../fonts/OpenSans-Regular.otf') format('opentype'),
    url('../../fonts/OpenSans-Regular.woff') format('woff'),
    url('../../fonts/OpenSans-Regular.svg') format('svg');
}

@font-face {
    font-family: 'lora-regular';
    font-weight: normal !important;
    src: url('../../fonts/librebaskerville-regular.ttf') format('truetype');
    src: local('?'),
    url('../../fonts/LibreBaskerville-Regular.otf') format('opentype'),
    url('../../fonts/librebaskerville-regular.woff') format('woff'),
    url('../../fonts/librebaskerville-regular.eot') format('eot'),
    url('../../fonts/librebaskerville-regular.svg') format('svg');
}

@font-face {
    font-family: 'opensans-semibold';
    src: url('../../fonts/OpenSans-Semibold.ttf') format('truetype');
    src: local('?'),
    url('../../fonts/OpenSans-Semibold.otf') format('opentype'),
    url('../../fonts/OpenSans-Semibold.woff') format('woff'),
    url('../../fonts/OpenSans-Semibold.svg') format('svg');
}

@font-face {
    font-family: 'opensans-italic';
    src: url('../../fonts/OpenSans-Italic.ttf') format('truetype');
    src: local('?'),
    url('../../fonts/OpenSans-Italic.otf') format('opentype'),
    url('../../fonts/OpenSans-Italic.woff') format('woff'),
    url('../../fonts/OpenSans-Italic.svg') format('svg');
}

@font-face {
    font-family: 'opensans-bold';
    src: url('../../fonts/OpenSans-Bold.ttf') format('truetype');
    src: local('?'),
    url('../../fonts/OpenSans-Bold.otf') format('opentype'),
    url('../../fonts/OpenSans-Bold.woff') format('woff'),
    url('../../fonts/OpenSans-Bold.svg') format('svg');
}

body {
    padding: 0;
    margin: 0 auto;
    background-color: #f6f6f6 !important;
}

.posfixed {
    position: fixed;
}

.nopadding {
    padding: 0 !important;
}

.nomargin {
    margin: 0 !important;
}

.bg-white {
    background-color: #fff;
}

.navbar-wrapper .navbar {
    border: 0 none;
}

.main_content, .aboutus-pg {
    width: 100%;
    display: block;
    clear: both;
    padding: 0;
    padding-top: 20px;
    background-size: contain;
    padding-bottom: 50px;
    background: url(../../content/images/background-mainpage.jpg) repeat top left;
}

button {
    -webkit-transition: all 0.3s !important;
    -moz-transition: all 0.3s !important;
    transition: all 0.3s !important;
}

.category-slider .row {
    margin: 0;
}

.content_headline, .whats_new_content, .product-con-sectn, .product-posts-sectn, .content_headline-categorypg,
.category-tab-panel, .basic-cat-info-inner, .hightlight-inner-con, .specs-con .panel-group,.allnews-pg .category-pg-tag,
.spec-headline, .brand-tab-panel, .legacy-tagline, .content_headline2, .legacy-inner-con,
.footer-inner, .tab-content, .legacy-sectn, .signinvia, .profile-pg-con, .search-pg-con, .privacy-pg-con, .contact-pg-in,
.assistance-con, .contact-us-con, .signup-pg-con, .faq-pg-con, .aboutus-pg-con, .inner-con,
.emblem-con, .error-pg-con, .settings-pg-con, .settings-info, .inner-com, .uploaded-prev, .comment-pop-tag, .comment-details, .view-brand-pg, .view-brand-con, .view-ppl-con, .view-ppl-pg, .view-gallery-pg, .view-gallery-con, .view-notifi-con, .view-notify-pg, .notify-inner, .store-loc-inner, .curator-logo-sec, .reset-pass-inner, .latest-tab-in, .news-brief, .related-news-box, .whats_new_content12, .brand-logo-sec, .inspiration-con .tab-tagline, .inspiration-con .inner-con, .designer-con .inner-con, .designer-con .tab-tagline, .profile-rightbar, .login-pg-inner, .invite-pg-inner, .curation-follo-opt, .trousseau-con-inner, .curator-inner-social, .abt-curator-txt, .editorial-posts-sectn,.art-inner-con,.watch-inner-con,.artpiccon,.watchpiccon,.watch-slider {
    float: none;
    display: block;
    clear: both;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}

.basic-cat-info-inner, .curation-follo-opt {
    overflow: visible;
}

.row {
    padding: 0px !important;
}

.nomore {
    color: #8d8d8d;
    font-size: 15px;
    text-align: center;
    font-family: 'opensans-reg', arial;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.ui-widget-header .ui-icon {
    background-image: url("../../content/images/ui-icons_222222_256x240.png") !important;
}

.ui-icon, .ui-widget-content .ui-icon {
    background-image: url("../../content/images/ui-icons_222222_256x240.png") !important;
}

.product_pg_tagline, .product_pg_tagline .content_headline, .editorial-tag-con {
    overflow: visible !important;
}

.whats_new_content {
    padding-bottom: 85px !important;
}

.content_headline h2, .content_headline-categorypg h2, .privacy-pg-con h2, .contact-pg-con h2, .signup-pg-con h2,
.faq-pg-con h3, .error-pg-con h2, .comment-details h2, .editorial-tag-con h3 {
    color: #313131;
    font-size: 30px;
    font-family: 'lora-regular', arial;
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;
    margin-top: 20px !important;
    margin-bottom: 10px !important;
}

.collection-cat-hover a.inner-click {
    width: 100%;
    display: block;
    height: 100%;
}

.content_headline hr, .product-reply-sectn hr, .content_headline-categorypg hr, .contact-pg-con hr, .emblem-section hr, .editorial-reply-sectn hr {
    margin-top: 30px;
    margin-bottom: 60px;
    border-top: 2px solid #987c3a;
    width: 12%;
}

.content_headline-categorypg hr,.allnews-pg .category-pg-tag hr {
    margin-bottom: 0px;
}

.editorial-collection hr {
    width: 30px;
    margin-top: 30px;
    margin-bottom: 8px;
}

.editorial-icon,.news-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 4;
}
.social-feed-con .category_options table tr td:hover, .social-feed-con .category_options table tr td:hover span, .latest-tab-in .category_options table tr td:hover, .related-news-box .category_options table tr td:hover span, .related-news-box .category_options p, .latest-tab-in .category_options table tr td:hover span, .latest-tab-in .category_options table tr td:hover p,.social-feed-con .category_options table tr td:hover p,.latest-tab-in .lnews-opt tr td:hover,.latest-tab-in .lnews-opt tr td:hover p,.news-grids .category_options table tr td:hover p,.news-grids .category_options table tr td:hover span {
   color: #4e4e4e;
}
.category_content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fff;
    clear: both;
}

.relative-struct {
    display: block;
    position: relative;
    float: none;
    clear: both;
    min-height: 30px;
}

.grid-item {
    width: 25%;
}

.grid {
    width: 100%;
    max-width: 100%;
}

.del-area {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 68px;
    z-index: 5;
    display: none;
}

.hide-post .fa {
    font-size: 20px;
}

.del-button {
    color: #4e4e4e;
    background-color: #fff;
    border-radius: 2px;
    padding: 5px;
    font-size: 10px;
    display: none;
}

.category_content h1, .category_content h5,.cur-cat span {
    font-size: 12px;
    font-family: 'opensans-reg', arial;
    font-weight: normal;
    line-height: 1.5;
    margin-top: 0px;
    padding-top: 15px;
    text-align: left;
    cursor: pointer;
    margin-bottom: 0px;
    width: auto;
    display: inline-block;
    text-align: left;
    float: left;
    clear: both;
    overflow: hidden;
    color: inherit !important;
    padding-left: 0px !important;
}
.curated-con .cur-cat {
    display: block;
    clear: both;
    overflow: hidden;
}
.category_content h2,.news-grids h3,.category_content h2 p,.editorial-blocks1 .category_content h3,.editorial-blocks1 h3, .latest-tab-in h3,.related-news h3,.editorial-block h3,.editorial-posts h3 {
    font-size: 16px;
    font-family: 'opensans-light', arial;
    line-height: 1.4;
    color: #000;
    line-height: 1.2;
    text-align: left;
    margin-bottom: 0px;
    padding-bottom: 20px;
    width: 100%;
    clear: both;
    overflow: hidden;
    font-weight: normal;
    margin-top: 15px !important;
}
.category_content h2 p {
    margin-top: 0px !important;
    padding-bottom: 0px !important;
}
.category_content h2.productnm {
    padding-bottom: 0px;
    margin-bottom: -10px;
    font-weight: bold;
}

.news-links span.read-more, .news-links span.brand-name, .cur-infor span.read-more, .cur-infor span.cur-name {
    font-size: 14px;
    font-family: 'lora-regular', arial;
    color: #464646;
    line-height: 1.2;
    font-weight: normal;
}

.news-links, .cur-infor {
    background-color: #fff;
    padding: 15px;
    border-top: 2px solid #f0efef;
    overflow: hidden;
}
.whats_new_content .editorial-blocks1 .cur-infor {
    padding-right:15px;
}
.cur-infor {
    padding: 7px;
}
.cur-infor span.cur-name {
    float: right !important;
    text-align: right;
    padding-top: 12px; 
    padding-right: 10px;  
}
.news-links span.brand-name, .cur-infor span.cur-name {
    font-weight: bold !important;
    float: left;
    letter-spacing: 1px;
}

.news-links span.read-more, .cur-infor span.read-more {
    text-align: right;
    float: right;
}

.category_img {
    min-height: 206px;
}

.category_img, .brand-result-img, .brand-result-con, .profile-result-img {
    cursor: pointer;
    position: relative;
    display: block;
    overflow: hidden;
    background-color: #fff;
}

.category_img:hover:after {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 100%;
    background-size: 50px;
    opacity: 0.7;
    background-color: inherit;
}

.category_img:hover {
    background-color: inherit;
}

.social-feed-con .category_img:hover {
    background-color: transparent;
}

.social-feed-con .category_img:hover img, .latest-news-con .category_img:hover img, .related-news .category_img:hover img, .editorial-posts .category_img:hover img,.latest-tab-in .category_img:hover img,.news-grids .category_img:hover img {
    opacity: 1;
}

.abvcu img {
    max-width: 30px;
    margin-top: 10%;
}

.wall {
    display: block;
    position: relative;
}

.wall-column {
    display: block;
    position: relative;
    width: 25%;
    float: left;
    padding: 0 6px;
    box-sizing: border-box;
    margin: 0 !important;
}

.category_img:hover .hover-content-cat, .banner-images:hover .banner-hover-con,.artpiccon:hover .hover-content-cat,.watchpiccon:hover .hover-content-cat {
    opacity: 1;
    z-index: 3;
    color: inherit;
    color: inherit;
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
}

.category_img:hover img {
    opacity: 0.5;
}
.cur-infor span.pf-img, .editorial-blocks1 span.pf-img {
    width: auto !important;
}

.category_content p {
    color: #4f4f4f;
    font-size: 13px;
    font-family: 'opensans-reg', arial;
    line-height: 1.5;
    text-align: left;
}
.editorial-blocks1 .category_content h2,.news-grids .category_content h2,.latest-news-con h2 ,.editorial-blocks1 h2,.related-news-box h2,.editorial-block h2 {
    display: none;
}
.hover-content-cat div {
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    float: none;
    clear: both;
    line-height: 1.5;
    z-index: 11;
}

.hover-content-cat h4, .banner-hover-con h4 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 0px;
    font-family: 'opensans-light', arial;
    margin-top: 20px !important;
}

.hover-content-cat:hover img, .hover-content-cat img {
    opacity: 1 !important;
}

.follow-profile-btn i {
    font-size: 15px;
    margin-right: 5px;
}

.whats_new_content_inner {
    padding-left: 5px;
    padding-right: 5px;
}

.category_options {
    display: block;
    position: relative;
    clear: both;
    background-color: #fff;
    border-bottom: 2px solid #f0efef;
    /* border-left: 2px solid #f0efef; */
    border-top: 2px solid #f0efef;
    color: inherit !important;
}

.category_options table {
    width: 100%;
    color: inherit !important;
}

#comment-img-pop {
    z-index: 11;
}

.category_img img {
    width: 100% !important;
    height: auto !important;
}

.cat-zoom-icon {
    display: block;
    margin: 0 auto;
    text-align: center;
    height: 50px;
    width: 50px;
    background: url(../../content/images/icons/img-normal-icon.png) no-repeat center center;
    background-size: contain;
}

.cat-zoom-icon:hover {
    background: url(../../content/images/icons/img-hover-plus-icon.png) no-repeat center center;
    background-size: contain;
}

.cat-zoom-icon span, .cat-plus-icon span {
    display: none;
}

.cat-minus-icon .fa-minus, .cat-plus-icon .fa {
    padding-top: 18px;
    font-size: 18px !important;
}

.cat-zoom-icon:hover span, .cat-minus-icon:hover span, .cat-plus-icon:hover span {
    display: block;
    font-size: 17px;
    font-weight: bold;
    padding-top: 18px;
}

.cat-plus-icon {
    background: url(../../content/images/icons/img-active-plus-icon.png) no-repeat center center;
    background-size: contain;
    display: block;
    margin: 0 auto;
    text-align: center;
    height: 50px;
    width: 50px;
}

.cat-plus-icon:hover .fa-minus {
    display: block;
}

.cat-plus-icon:hover {
    background: url(../../content/images/icons/img-hover-minus-icon.png) no-repeat center center;
    background-size: contain;
}

.cat-minus-icon {
    background: url(../../content/images/icons/img-hover-minus-icon.png) no-repeat center center;
    display: block;
    margin: 0 auto;
    text-align: center;
    height: 50px;
    width: 50px;
    transition: opacity 1s 1s ease;
}

.follow-btn, .follow-brand-btn {
    text-align: center;
    margin: 0 auto;
    border-radius: 3px;
    border: 1px solid #fff;
    width: 110px;
    height: 35px;
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 10px;
    font-family: 'opensans-reg', arial;
    outline: 0 none;
}

.follow-brand-sectn .follow:hover {
    color: inherit;
    background-color: #fff !important;
}

.editorial-block .follow:hover {
    color: inherit !important;
}

.hover-content-cat a:hover, .email-settings ul li a {
    color: inherit;
}

.hover-content-cat a, .comments-replied a, .onscroll-hide-con a, .email-settings button a, .phone-info button a, .product-info a,.view-all-part a  {
    text-decoration: none;
    color: inherit;
}

button.follow {
    background-color: transparent;
    color: #fff;
    z-index: 1;
}

.follow:hover + .follow-hover {
    display: block;
    background-color: #fff;
    position: absolute;
    top: 57%;
    left: 30%;
}

.follow-hover {
    display: none;
    background-color: #fff;
}

.following, .unfollow {
    background-color: transparent;
    color: #fff;
    z-index: 3;
}

.follow-brand-sectn .unfollow {
    background-color: transparent;
    color: #fff;
}

.unfollow {
    background-color: #fff;
    color: inherit;
    z-index: 3;
}

.following span, .unfollow span {
    padding-right: 3px;
}

.following span .fa, .unfollow span .fa {
    font-size: 12px;
}

.following-cat span {
    padding-right: 5px;
}

.following-cat {
    display: none;
}

.hover-content-cat img, .banner-hover-con img {
    width: auto;
}

.follow-status .unfollow {
    color: inherit;
    border-color: inherit;
}

/*.follow-status .following {
  color: #fff; border: 0 none;
}*/
.category_options table tr td {
    border-right: 1px solid #f0efef;
    width: auto;
    font-size: 13px;
    height: auto;
    color: inherit;
    cursor: pointer;
    padding-bottom: 7px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 7px;
    min-width: 40px;
}

.category_options table tr td:last-child {
    border-right: 0px;
}

.category_options table tr td span {
    display: block;
    color: #4e4e4e;
    text-align: center;
}

.cat_travel .fa {
    font-size: 15px;
    color: inherit;
}

.category_options table tr td.crown-sectn, .category_options table tr td.crown-news, .category_options table tr td.crown-sectn11 {
    padding-top: 5px;
}

.category_options table tr td span.fwd-icon {
    width: 25px;
    height: 16px;
}

.category_options table tr td.date-status {
    color: #4e4e4e;
    text-align: center;
    display: none;
}

/*.category_options tr:not(:hover) td,.category_options tr:hover {
  background-color: #fff;
}*/

.category_options table tr td:focus, .category_options table tr td:active, .category_options table tr td.active:hover, .profile-status .category_options table tr td:hover, .profile-status .category_options table tr td:hover span,.profile-status .category_options table tr td:hover p {
    color: inherit !important;
}

.profile-status .category_options table tr td.active span, .timeline-status .category_options table tr td.active span {
    color: #7f7f7f !important;
}

.category_options table tr td:not(:hover) {
    background-color: #fff;
}

.comment-sectn a:hover {
    text-decoration: none;
}
.editorial-tag-con a:hover {
    color: inherit;
}
.date-status p {
    padding-top: 5%;
}

.category_options table tr td:hover, .category_options table tr td:hover span, .category_options table tr td:hover p, .related-news-box .category_options table tr td:hover span {
    color: #fff;
}

.category_options table tr td.active, .follow-list table tr td.active, .follow-list table tr td.active {
    background-color: #f9f9f9 !important;
}

.category_options table tr td, .category_options table tr td.active, .follow-list table tr td.active, .follow-list table tr td.active {
    transition: background-color 0.1s ease-in-out;
}

.category_options table tr td.active span, .img-comments-inner.category_options table tr td:hover, .img-comments-inner .category_options table tr td:hover span {
    color: inherit;
}

.category_options table tr td span.icomoon {
    min-height: 18px;
    margin-top: 5px;
}

.category-pg-con,.art-pg {
    padding-top: 55px !important;
}
.allnews-pg {
    padding-top: 6% !important;
}

.editorial-pd {
    padding-top: 80px !important;
}

.editorial-collection {
    padding-top: 3% !important;
}

.category_options table tr td:last child {
    border-right: 0 none
}

.follow-status button {
    border: 1px solid #cacaca;
    border-radius: 2px;
    padding: 0px;
    color: #919191;
    font-size: 10px;
    text-transform: uppercase;
    font-family: 'opensans-reg', arial;
    height: 32px;
    width: 110px;
    margin: 0 auto;
    background-color: transparent;
    outline: 0 none;
}

.category_pg .follow-status {
    display: inline-block;
    width: 40%;
    vertical-align: middle;
}

.category_pg .follow-status button {
    border: 0 none;
    width: 100%;
    height: 41px;
    font-size: 12px;
    display: block !important;
    background-color: #464646;
    margin-top: -1px;
}

.follow-status button.unfollow-cat {
    background-color: #464646;
}

td.crown-sectn:active, td.crown-sectn:focus, td.crown-sectn:after, td.cproduct-crown:active, td.cproduct-crown:focus, td.cproduct-crown:after, td.crown-sectn11:active, td.crown-sectn11:focus, td.crown-sectn11:a