.timeline {
    list-style: none;
    /* padding: 20px 0 20px; */
    position: relative;
    margin: 0 auto;
    float: none;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
}

.timeline .category {
    margin-bottom: 0px;
}

.timeline-panel .write-comment {
    position: relative;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
}

.timeline > li {
    margin-bottom: 20px;
    position: relative;
    width: 50%;
    float: left;
    clear: left;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li > .timeline-panel {
    width: 84%;
    float: left;
    border: 0 none;
    /* border-radius: 2px; */
    /* padding: 20px; */
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: none;
    overflow: hidden;
}

.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}

.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline > li > .timeline-badge {
    background-color: #f0f0f0;
    font-size: 1.4em;
    height: 2px;
    right: 0;
    /* margin-left: -8%; */
    position: absolute;
    text-align: center;
    top: 1px;
    width: 12%;
    z-index: 2;
}

.timeline > li.timeline-inverted > .timeline-badge {
    background-color: #f0f0f0;
    font-size: 1.4em;
    height: 2px;
    left: auto;
    right: 50%;
    margin-left: 0;
    margin-right: -8%;
    position: absolute;
    text-align: center;
    top: 1px;
    width: 12%;
    z-index: 2;
}

.timeline > li.timeline-inverted > .timeline-badge:before {
    background-color: #b1762a;
    content: "";
    height: 7px;
    position: absolute;
    left: -4px;
    right: auto;
    top: -3px;
    width: 7px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.51);
}

.timeline > li > .timeline-badge:before {
    background-color: #b1762a;
    content: "";
    height: 7px;
    position: absolute;
    right: -4px;
    top: -3px;
    width: 7px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.51);
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline-badge > a {
    color: #C5C7C5 !important;
}

.timeline-badge a:hover {
    color: #000 !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    padding: 20px;
    margin-bottom: 0;
}

.timeline-body > p + p {
    margin-top: 5px;
}

.timeline-footer {
    padding: 20px;
    background-color: #f4f4f4;
}

.timeline-footer > a {
    cursor: pointer;
    text-decoration: none;
}

/*.tooltip{

    position:absolute;
    z-index:1020;
    display:block;
    visibility:visible;
    padding:5px;
    font-size:11px;
    opacity:0;
    filter:alpha(opacity=0);
    
}*/
.tooltip.in {
    /*opacity:0;
    filter:alpha(opacity=80);*/

}

/*
.tooltip.top{
    margin-top:-2px;
}
.tooltip.right{
    margin-left:2px;
}
.tooltip.bottom{
    margin-top:2px;
}
.tooltip.left{
    margin-left:-2px;
}
.tooltip.top .tooltip-arrow{
    bottom:0;
    left:0;
    margin-left:0;
    border-left:0 solid transparent;
    border-right:5px solid transparent;
    border-top:0 solid #000;
}
.tooltip.left .tooltip-arrow{
    bottom:0;
    left:0;
    margin-left:0;
    border-left:0 solid transparent;
    border-right:5px solid transparent;
    border-top:0 solid #000;
}
.tooltip.bottom .tooltip-arrow{
    bottom:0;
    left:0;
    margin-left:0;
    border-left:0 solid transparent;
    border-right:5px solid transparent;
    border-top:0 solid #000;
}
.tooltip.right .tooltip-arrow{
    bottom:0;
    left:0;
    margin-left:0;
    border-left:0 solid transparent;
    border-right:5px solid transparent;
    border-top:0 solid #000;
}
.tooltip-inner{
    width:200px;
    padding:3px 8px;
    color:#fff;
    text-align:center;
    text-decoration:none;
    background-color:#313131;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;
}
.tooltip-arrow{
    position:absolute;
    width:0;
    height:0;
}*/
.timeline > li.timeline-inverted {
    float: right;
    clear: right;
    margin-top: 30px;
    margin-bottom: 30px;
}

.timeline > li:nth-child(2) {
    margin-top: 60px;
}

.timeline > li.timeline-inverted > .timeline-badge {
    left: 1px;
}

@media (max-width: 767px) {
    ul.timeline:before {
        left: 8px;
    }

    ul.timeline > li {
        margin-bottom: 20px;
        position: relative;
        width: 100%;
        float: left;
        clear: left;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 78px);
        width: -moz-calc(100% - 78px);
        width: -webkit-calc(100% - 78px);;
    }

    ul.timeline > li > .timeline-badge {
        left: 10px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

    ul.timeline > li > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }

    ul.timeline > li > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }

    .timeline > li.timeline-inverted {
        float: left;
        clear: left;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .timeline > li.timeline-inverted > .timeline-badge {
        left: 10px;
    }
}

@media (max-width: 568px) {
    .timeline > li.timeline-inverted > .timeline-badge:before {
        left: auto;
        right: 0;
    }

    .timeline > li.timeline-inverted {
        margin-top: 0px;
        margin-bottom: 10px;
    }

    .timeline > li:nth-child(2) {
        margin-top: 10px;
    }
}